.hero--banner {
	position: relative;
}

.banner {
	//height: 875px;
	position: relative;
	overflow: hidden;

	&__container {
		padding: 0 clamp(1rem, -.699rem + 7.2492vw, 8rem);
		//max-width: 120rem;
		margin-left: auto;
		margin-right: auto;
	}

	&__subtitle {
		color: #FFFFFF59;
		font-size: 28px;
		font-weight: 400;
		line-height: 1em;
		letter-spacing: -.02em;
	}


	&__title {
		font-family: $font__heading;
		font-size: 50px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 15px;
		//overflow: hidden;
		color: $color__theme;

		span {
			color: $white;
			display: block;
			font-weight: 400;
		}
	}

	&__content-wrapper {
		visibility: visible;
		position: relative;
		height: 100vh;
		min-height: 50rem;
		display: grid;
		grid-template-columns: 1.2fr 2fr 1.2fr;
	}

	&--column-left, &--column-right, &--column-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&--column-left {
		text-align: right;
		align-items: flex-end;
		padding-right: 3.5rem;
	}

	&--column-right {
		text-align: left;
		align-items: flex-start;
		padding-left: 3.5rem;
	}

	&--column-center {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	&__description {
		font-size: 18px;
		color: #b1b1b1;
		margin-bottom: 45px;
		line-height: 28px;
	}

	&__btns {
		.banner-btn {
			&:not(:first-child) {
				margin-left: 25px;

				@media (max-width: 1200px) and (min-width: 992px) {
					margin-left: 10px;
				}

				@media (max-width: 576px) {
					margin-left: 0;
					margin-top: 20px;
				}
			}
		}
	}

	&__content,
	&__feature-image {
		position: relative;
		z-index: 2;
	}

	&--one {
		//height: 100vh;
		padding-top: 190px;
		padding-bottom: 120px;

		@media(max-width: 991px) {
			height: auto;
			padding-top: 150px;
			padding-bottom: 80px;
		}

		//@media(min-width: 1024px) {
		//	max-height: 876px;
		//}
		//
		//@media (max-width: 991px) {
		//	height: auto;
		//	padding: 120px 0 100px;
		//}
		//
		//.banner__feature-image {
		//	margin-right: -175px;
		//
		//	@media (max-width: 1200px) {
		//		margin-right: -50px;
		//		margin-left: 0;
		//	}
		//
		//	@media (max-width: 991px) {
		//		margin: 0;
		//	}
		//}

		.banner__designation {
			font-size: 100px;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 0;
			//overflow: hidden;
			//
			//.lineChild {
			//	overflow: hidden;
			//}

			@media (max-width: 1440px) {
				font-size: 65px;
			}

			@media (max-width: 991px) {
				font-size: 60px;
			}
		}

		.banner__designation {
			overflow: hidden;
		}

		.wordChild {
			display: inline-block;
			line-height: 90px;
		}

		.banner__title-wrapper {
			margin-top: 80px;
		}

		.banner__info {
			margin-top: 5px;
		}

		.banner__subtitle {
			color: #FFF7DC;
			font-size: 60px;
			font-weight: 300;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 0;

			@media (max-width: 1440px) {
				font-size: 40px;
			}
		}

		.banner__title {
			color: #FFF7DC;
			font-size: 80px;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 10px;

			@media (max-width: 1440px) {
				font-size: 50px;
			}

			@media(max-width: 991px) {
				> div  {
					text-align: center !important;
				}
			}
		}

		.banner__description {
			color: #FFF7DC;
			font-size: 16px;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 6.4px;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		.banner__info-item {
			color: #fff;
			font-size: 22px;
			line-height: 1.4;
		}

		.split-wrap {
			overflow: hidden;
			//display: inline-block !important;
		}

		.split-inner {
			font-feature-settings: "kern" off;
			font-kerning: none;
		}

		.available:before {
			content: "";
			display: inline-block;
			width: .4em;
			height: .4em;
			background: #98fe7f;
			border-radius: 50%;
			margin: 0 .5rem;
			vertical-align: middle;
			transform: translateY(-.1em);
			animation: pulse-animation 2s infinite;
			animation-delay: 3s;
		}

		@keyframes pulse-animation {
			0% {
				box-shadow: 0 0 #98fe7f80
			}

			to {
				box-shadow: 0 0 0 .5rem #98fe7f00
			}
		}

		.banner__content {
			@media (max-width: 991px) {
				text-align: center;
				margin-top: 100px;
			}
		}

		@media(max-width: 991px) {
			.mpt-order-2 {
				order: 2;
			}
		}


		.banner__image {
			position: relative;
			aspect-ratio: 1;
			width: 100%;
			max-width: 568px;
			z-index: 1;
			height: auto;

			@media(max-width: 991px) {
				max-width: 500px;
				margin: 0 auto;
			}

			@media(max-width: 440px) {
				max-width: 90%;
			}

			img {
				position: relative;
				z-index: 1;

				@media (max-width: 1200px) {
					width: 85%;

				}
			}

			.banner__image-wrap {
				position: absolute;
				width: 100%;
				margin-top: 22px;
				left: 0;
				text-align: center;
			}
		}

		.banner__circle-stroke {
			border: 1px solid #FF2775;
			position: absolute;
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
			border-radius: 50%;
			box-sizing: border-box;
			transform-origin: center center;
			transform: scale(1.03);
		}

		#gradient-canvas {
			height: 100%;
			width: 100%;
		}
	}

	&__social-links {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 10px;

		li {
			display: block;
			text-align: right;

			a {
				display: inline-flex;
				border: 1px solid #8750f7;
				color: #8750f7;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				height: 40px;
				width: 40px;

				svg {
					width: 14px;

					&.e-fab-facebook-f {
						width: 10px;
					}

					path {
						fill: #8750f7;
						transition: all 0.3s ease-in-out;
					}
				}


				&:hover {
					background: #8750f7;
					color: #fff;

					path {
						fill: #fff;
					}
				}
			}
		}
	}

	&--two {
		padding: 75px 0 85px;
		display: flex;
		align-items: center;

		@media (max-width: 1200px) {
			height: 768px;
		}

		@media (max-width: 991px) {
			height: auto;
			padding-top: 100px;

			.banner__content {
				text-align: center;
			}
		}

		.banner__feature-image {
			border-radius: 50%;
			overflow: hidden;
			max-width: 575px;
			margin: 0 auto;
		}

	}

	&--three {
		background: #0f0715;
		height: 100vh;
		display: flex;
		align-items: center;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 322px;
			height: 308px;
			border-radius: 50%;
			background: #8750f7;
			background: -o-linear-gradient(190deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
			background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
			-webkit-filter: blur(150px);
			filter: blur(150px);
			margin-right: -5%;
			margin-top: -5%;
		}

		.banner__title {
			font-size: 65px;
			//background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
			//-webkit-background-clip: text;
			//-webkit-text-fill-color: transparent;
			//position: relative;

		}


		h3.banner__subtitle {
			color: #ffff;
			font-size: 36px;
			font-weight: 700;
		}

		p.banner__description {
			max-width: 550px;
			width: 100%;
			margin-bottom: 0;
			color: #fff;
			font-size: 22px;
			line-height: 1.6;
			font-weight: 300;
		}

		.banner__feature-image {
			position: relative;
			max-width: 438px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			border-radius: 38px;
			border: 2px solid #2a1454;
			transform: rotate(4.29deg);

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 220px;
				height: 220px;
				border-radius: 50%;
				background: #8750f7;
				background: -o-linear-gradient(190deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
				background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
				-webkit-filter: blur(150px);
				filter: blur(150px);
				margin-left: -5%;
				margin-bottom: -5%;
			}
		}

		.banner-btn.mpt-btn:not(.btn-outline) {
			border-color: #8750f7;
			color: #fff;

			&:before {
				background: #8750f7;
			}

			&:hover {
				color: #8750f7;
			}
		}

		.banner-btn.mpt-btn.btn-outline {
			border-color: #8750f7;
			color: #8750f7;

			&:before {
				background: #8750f7;
			}

			&:hover {
				color: #fff;
			}
		}
	}

	&--four {
		background: #0e090d;
		padding: 100px 0;

		.banner__title {
			font-size: min(7.6vw, 9rem);

			> div {
				display: inline-block;
				overflow: hidden;
				position: relative;
			}

		}

		.banner__title, .banner__designation {
			color: #fff;
			margin-bottom: 0;
			line-height: 1;
			font-weight: 200;
		}

		.banner__designation {
			font-size: min(5.4vw, 7rem);
		}

		.banner__image {
			position: relative;
			aspect-ratio: 1;
			width: 100%;
			z-index: 1;
			height: auto;

			img {
				position: relative;
				z-index: 1;

			}

			.banner__image-wrap {
				margin-top: 10%;
				position: absolute;
			}
		}

		.banner__circle-stroke {
			border: 1px solid #fb4566;
			position: absolute;
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
			border-radius: 50%;
			box-sizing: border-box;
			transform-origin: center center;
			transform: scale(1.03);
		}

		 #gradient-canvas {
			height: 100%;
			width: 100%;
		}
	}

	&--five {
		background: #121316;
		position: static;
		overflow: visible;
		padding: 215px 0 110px;

		.banner__designation {
			font-size: 86px;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 10px;
		}

		.banner__title-wrapper {
			margin-top: 90px;
		}

		.banner__subtitle {
			color: #FFF7DC;
			font-size: 40px;
			font-style: normal;
			font-weight: 300;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		.banner__title {
			color: #FFF7DC;
			font-size: 40px;
			font-style: normal;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.banner__description {
			color: #FFF7DC;
			font-size: 16px;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 6.4px;
			text-transform: uppercase;
		}

		.banner__image {
			position: relative;
			max-width: 630px;
			margin-top: 80px;
		}

		.banner__clippath {
			margin-left: -80px;
			max-width: 600px;
			position: relative;
		}

		.banner__clippath-stroke {
			position: absolute;
			bottom: 10px;
			left: -10px;
		}

		.banner__clippath-shape {
			width: 600px;
			height: 530px;
			clip-path: polygon(20.2141px 285.583px, 20.2141px 285.583px, 21.4964664px 282.533864px, 22.8183992px 279.502512px, 24.1797088px 276.489328px, 25.5802056px 273.494696px, 27.0197px 270.519px, 28.4980024px 267.562624px, 30.0149232px 264.625952px, 31.5702728px 261.709368px, 33.1638616px 258.813256px, 34.7955px 255.938px, 34.7955px 255.938px, 39.0224741px 248.832327px, 43.3754488px 241.807216px, 47.8532427px 234.864329px, 52.4546744px 228.005328px, 57.1785625px 221.231875px, 62.0237256px 214.545632px, 66.9889823px 207.948261px, 72.0731512px 201.441424px, 77.2750509px 195.026783px, 82.5935px 188.706px, 82.5935px 188.706px, 89.2282325px 181.017683px, 95.97572px 173.432344px, 102.8347475px 165.951201px, 109.8041px 158.575472px, 116.8825625px 151.306375px, 124.06892px 144.145128px, 131.3619575px 137.092949px, 138.76046px 130.151056px, 146.2632125px 123.320667px, 153.869px 116.603px, 153.869px 116.603px, 160.968883px 110.4669174px, 168.152784px 104.4333952px, 175.419581px 98.5032818px, 182.768152px 92.6774256px, 190.197375px 86.956675px, 197.706128px 81.3418784px, 205.293289px 75.8338842px, 212.957736px 70.4335408px, 220.698347px 65.1416966px, 228.514px 59.9592px, 228.514px 59.9592px, 232.086092px 57.6725167px, 235.663536px 55.4191856px, 239.245384px 53.2007949px, 242.830688px 51.0189328px, 246.4185px 48.8751875px, 250.007872px 46.7711472px, 253.597856px 44.7084001px, 257.187504px 42.6885344px, 260.775868px 40.7131383px, 264.362px 38.7838px, 264.362px 38.7838px, 267.95129px 36.8882147px, 271.54748px 35.0158296px, 275.14805px 33.1707709px, 278.75048px 31.3571648px, 282.35225px 29.5791375px, 285.95084px 27.8408152px, 289.54373px 26.1463241px, 293.1284px 24.4997904px, 296.70233px 22.9053403px, 300.263px 21.3671px, 300.263px 21.3671px, 302.644707px 20.3618095px, 305.021056px 19.37874px, 307.392989px 18.4178945px, 309.761448px 17.479276px, 312.127375px 16.5628875px, 314.491712px 15.668732px, 316.855401px 14.7968125px, 319.219384px 13.947132px, 321.584603px 13.1196935px, 323.952px 12.3145px, 323.952px 12.3145px, 326.521133px 11.44886667px, 329.098984px 10.61073416px, 331.685331px 9.80016469px, 334.279952px 9.01722048px, 336.882625px 8.26196375px, 339.493128px 7.53445672px, 342.111239px 6.83476161px, 344.736736px 6.16294064px, 347.369397px 5.51905603px, 350.009px 4.90317px, 350.009px 4.90317px, 351.823314px 4.49824448px, 353.634232px 4.10951944px, 355.441418px 3.73731216px, 357.244536px 3.38193992px, 359.04325px 3.04372px, 360.837224px 2.72296968px, 362.626122px 2.42000624px, 364.409608px 2.13514696px, 366.187346px 1.86870912px, 367.959px 1.62101px, 367.959px 1.62101px, 369.975863px 1.3519332065px, 371.995504px 1.107316412px, 374.017701px 0.8871760955px, 376.042232px 0.691528736px, 378.068875px 0.5203908125px, 380.097408px 0.373778804px, 382.127609px 0.2517091895px, 384.159256px 0.154198448px, 386.192127px 0.0812630585px, 388.226px 0.0329195px, 388.226px 0.0329195px, 389.654067px 0.0084437037px, 391.082176px 5.4975999999969E-6px, 392.510189px 0.0076006559px, 393.937968px 0.0312249528px, 395.365375px 0.0708741625px, 396.792272px 0.1265440592px, 398.218521px 0.1982304171px, 399.643984px 0.2859290104px, 401.068523px 0.3896356133px, 402.492px 0.509346px, 402.492px 0.509346px, 403.987173px 0.645198813px, 405.480384px 0.799159104px, 406.971471px 0.971202951px, 408.460272px 1.161306432px, 409.946625px 1.369445625px, 411.430368px 1.595596608px, 412.911339px 1.839735459px, 414.389376px 2.101838256px, 415.864317px 2.381881077px, 417.336px 2.67984px, 418.705px 2.99746px, 418.705px 2.99746px, 419.903658px 3.2691415px, 421.098824px 3.5446336px, 422.290186px 3.8245717px, 423.477432px 4.1095912px, 424.66025px 4.4003275px, 425.838328px 4.697416px, 427.011354px 5.0014921px, 428.179016px 5.3131912px, 429.341002px 5.6331487px, 430.497px 5.962px, 430.497px 5.962px, 431.946669px 6.36676739px, 433.389672px 6.78614112px, 434.825703px 7.21885153px, 436.254456px 7.66362896px, 437.675625px 8.11920375px, 439.088904px 8.58430624px, 440.493987px 9.05766677px, 441.890568px 9.53801568px, 443.278341px 10.02408331px, 444.657px 10.5146px, 444.657px 10.5146px, 445.743397px 10.9004353px, 446.823176px 11.2951584px, 447.896019px 11.6981351px, 448.961608px 12.1087312px, 450.019625px 12.5263125px, 451.069752px 12.9502448px, 452.111671px 13.3798939px, 453.145064px 13.8146256px, 454.169613px 14.2538057px, 455.185px 14.6968px, 455.185px 14.6968px, 456.491093px 15.257381px, 457.788384px 15.827172px, 459.077491px 16.405855px, 460.359032px 16.993112px, 461.633625px 17.588625px, 462.901888px 18.192076px, 464.164439px 18.803147px, 465.421896px 19.42152px, 466.674877px 20.046877px, 467.924px 20.6789px, 467.924px 20.6789px, 468.901558px 21.1744598px, 469.875624px 21.6766904px, 470.845886px 22.1859086px, 471.812032px 22.7024312px, 472.77375px 23.226575px, 473.730728px 23.7586568px, 474.682654px 24.2989934px, 475.629216px 24.8479016px, 476.570102px 25.4056982px, 477.505px 25.9727px, 477.505px 25.9727px, 478.686249px 26.673183px, 479.861192px 27.377476px, 481.029823px 28.086215px, 482.192136px 28.800036px, 483.348125px 29.519575px, 484.497784px 30.245468px, 485.641107px 30.978351px, 486.778088px 31.71886px, 487.908721px 32.467631px, 489.033px 33.2253px, 489.033px 33.2253px, 489.914354px 33.8303942px, 490.790032px 34.4386576px, 491.660658px 35.0500914px, 492.526856px 35.6646968px, 493.38925px 36.282475px, 494.248464px 36.9034272px, 495.105122px 37.5275546px, 495.959848px 38.1548584px, 496.813266px 38.7853398px, 497.666px 39.419px, 497.666px 39.419px, 498.557836px 40.0849079px, 499.519128px 40.8076832px, 500.537252px 41.5806533px, 501.599584px 42.3971456px, 502.6935px 43.2504875px, 503.806376px 44.1340064px, 504.925588px 45.0410297px, 506.038512px 45.9648848px, 507.132524px 46.8988991px, 508.195px 47.8364px, 508.195px 47.8364px, 509.1891px 48.7266981px, 510.09668px 49.5337768px, 510.93226px 50.2728827px, 511.71036px 50.9592624px, 512.4455px 51.6081625px, 513.1522px 52.2348296px, 513.84498px 52.8545103px, 514.53836px 53.4824512px, 515.24686px 54.1338989px, 515.985px 54.8241px, 515.985px 54.8241px, 516.778938px 55.5796546px, 517.636344px 56.4088928px, 518.544906px 57.2997462px, 519.492312px 58.2401464px, 520.46625px 59.218025px, 521.454408px 60.2213136px, 522.444474px 61.2379438px, 523.424136px 62.2558472px, 524.381082px 63.2629554px, 525.303px 64.2472px, 525.303px 64.2472px, 526.1669px 65.1826658px, 526.96576px 66.0581064px, 527.71032px 66.8833666px, 528.41132px 67.6682912px, 529.0795px 68.422725px, 529.7256px 69.1565128px, 530.36036px 69.8794994px, 530.99452px 70.6015296px, 531.63882px 71.3324482px, 532.304px 72.0821px, 532.304px 72.0821px, 533.016069px 72.895989px, 533.786512px 73.803256px, 534.604283px 74.789291px, 535.458336px 75.839484px, 536.337625px 76.939225px, 537.231104px 78.073904px, 538.127727px 79.228911px, 539.016448px 80.389636px, 539.886221px 81.541469px, 540.726px 82.6698px, 546.938px 91.2458px, 546.938px 91.2458px, 547.713411px 92.3702184px, 548.481448px 93.4988752px, 549.242117px 94.6317728px, 549.995424px 95.7689136px, 550.741375px 96.9103px, 551.479976px 98.0559344px, 552.211233px 99.2058192px, 552.935152px 100.3599568px, 553.651739px 101.5183496px, 554.361px 102.681px, 554.361px 102.681px, 554.927648px 103.589175px, 555.489544px 104.50308px, 556.045116px 105.422085px, 556.592792px 106.34556px, 557.131px 107.272875px, 557.658168px 108.2034px, 558.172724px 109.136505px, 558.673096px 110.07156px, 559.157712px 111.007935px, 559.625px 111.945px, 559.625px 111.945px, 560.302234px 113.155027px, 560.975712px 114.371096px, 561.644798px 115.592889px, 562.308856px 116.820088px, 562.96725px 118.052375px, 563.619344px 119.289432px, 564.264502px 120.530941px, 564.902088px 121.776584px, 565.531466px 123.026043px, 566.152px 124.279px, 566.152px 124.279px, 566.654131px 125.279824px, 567.150328px 126.280912px, 567.640897px 127.282588px, 568.126144px 128.285176px, 568.606375px 129.289px, 569.081896px 130.294384px, 569.553013px 131.301652px, 570.020032px 132.311128px, 570.483259px 133.323136px, 570.943px 134.338px, 570.943px 134.338px, 571.525434px 135.656305px, 572.104112px 136.97524px, 572.678398px 138.295435px, 573.247656px 139.61752px, 573.81125px 140.942125px, 574.368544px 142.26988px, 574.918902px 143.601415px, 575.461688px 144.93736px, 575.996266px 146.278345px, 576.522px 147.625px, 576.522px 147.625px, 576.94693px 148.690478px, 577.36832px 149.757864px, 577.78587px 150.825886px, 578.19928px 151.893272px, 578.60825px 152.95875px, 579.01248px 154.021048px, 579.41167px 155.078894px, 579.80552px 156.131016px, 580.19373px 157.176142px, 580.576px 158.213px, 580.576px 158.213px, 581.063662px 159.613798px, 581.547616px 161.020584px, 582.027214px 162.433046px, 582.501808px 163.850872px, 582.97075px 165.27375px, 583.433392px 166.701368px, 583.889086px 168.133414px, 584.337184px 169.569576px, 584.777038px 171.009542px, 585.208px 172.453px, 585.208px 172.453px, 585.553759px 173.598189px, 585.896032px 174.746552px, 586.234513px 175.898083px, 586.568896px 177.052776px, 586.898875px 178.210625px, 587.224144px 179.371624px, 587.544397px 180.535767px, 587.859328px 181.703048px, 588.168631px 182.873461px, 588.472px 184.047px, 588.472px 184.047px, 588.868239px 185.552457px, 589.257152px 187.062216px, 589.638733px 188.576259px, 590.012976px 190.094568px, 590.379875px 191.617125px, 590.739424px 193.143912px, 591.091617px 194.674911px, 591.436448px 196.210104px, 591.773911px 197.749473px, 592.104px 199.293px, 592.104px 199.293px, 592.369402px 200.519092px, 592.628816px 201.750536px, 592.882554px 202.986384px, 593.130928px 204.225688px, 593.37425px 205.4675px, 593.612832px 206.710872px, 593.846986px 207.954856px, 594.077024px 209.198504px, 594.303258px 210.440868px, 594.526px 211.681px, 594.526px 211.681px, 594.806897px 213.278288px, 595.081176px 214.892064px, 595.348519px 216.519796px, 595.608608px 218.158952px, 595.861125px 219.807px, 596.105752px 221.461408px, 596.342171px 223.119644px, 596.570064px 224.779176px, 596.789113px 226.437472px, 596.999px 228.092px, 596.999px 228.092px, 597.169603px 229.426152px, 597.334224px 230.760616px, 597.493181px 232.095704px, 597.646792px 233.431728px, 597.795375px 234.769px, 597.939248px 236.107832px, 598.078729px 237.448536px, 598.214136px 238.791424px, 598.345787px 240.136808px, 598.474px 241.485px, 598.474px 241.485px, 598.641476px 243.262244px, 598.796928px 245.036992px, 598.940992px 246.809868px, 599.074304px 248.581496px, 599.1975px 250.3525px, 599.311216px 252.123504px, 599.416088px 253.895132px, 599.512752px 255.668008px, 599.601844px 257.442756px, 599.684px 259.22px, 599.684px 259.22px, 599.692848px 260.679464px, 599.716864px 262.136072px, 599.752256px 263.590148px, 599.795232px 265.042016px, 599.842px 266.492px, 599.888768px 267.940424px, 599.931744px 269.387612px, 599.967136px 270.833888px, 599.991152px 272.279576px, 600px 273.725px, 600px 273.725px, 599.999579px 275.676738px, 599.996632px 277.625344px, 599.988633px 279.570806px, 599.973056px 281.513112px, 599.947375px 283.45225px, 599.909064px 285.388208px, 599.855597px 287.320974px, 599.784448px 289.250536px, 599.693091px 291.176882px, 599.579px 293.1px, 599.579px 293.1px, 599.496869px 294.6882px, 599.408072px 296.2764px, 599.312303px 297.8646px, 599.209256px 299.4528px, 599.098625px 301.041px, 598.980104px 302.6292px, 598.853387px 304.2174px, 598.718168px 305.8056px, 598.574141px 307.3938px, 598.421px 308.982px, 598.421px 308.982px, 598.209417px 311.170455px, 597.984856px 313.35324px, 597.746999px 315.530985px, 597.495528px 317.70432px, 597.230125px 319.873875px, 596.950472px 322.04028px, 596.656251px 324.204165px, 596.347144px 326.36616px, 596.022833px 328.526895px, 595.683px 330.687px, 595.683px 330.687px, 595.394107px 332.527735px, 595.095416px 334.36556px, 594.786609px 336.200805px, 594.467368px 338.0338px, 594.137375px 339.864875px, 593.796312px 341.69436px, 593.443861px 343.522585px, 593.079704px 345.34988px, 592.703523px 347.176575px, 592.315px 349.003px, 592.315px 349.003px, 591.751113px 351.589952px, 591.165464px 354.172776px, 590.558371px 356.750524px, 589.930152px 359.322248px, 589.281125px 361.887px, 588.611608px 364.443832px, 587.921919px 366.991796px, 587.212376px 369.529944px, 586.483297px 372.057328px, 585.735px 374.573px, 585.735px 374.573px, 584.970887px 377.045687px, 584.196016px 379.451696px, 583.412289px 381.800549px, 582.621608px 384.101768px, 581.825875px 386.364875px, 581.026992px 388.599392px, 580.226861px 390.814841px, 579.427384px 393.020744px, 578.630463px 395.226623px, 577.838px 397.442px, 577.838px 397.442px, 576.298547px 401.270667px, 574.700216px 405.073816px, 573.043349px 408.850769px, 571.328288px 412.600848px, 569.555375px 416.323375px, 567.724952px 420.017672px, 565.837361px 423.683061px, 563.892944px 427.318864px, 561.892043px 430.924403px, 559.835px 434.499px, 559.835px 434.499px, 554.455678px 443.433888px, 548.631024px 452.046504px, 542.376206px 460.321476px, 535.706392px 468.243432px, 528.63675px 475.797px, 521.182448px 482.966808px, 513.358654px 489.737484px, 505.180536px 496.093656px, 496.663262px 502.019952px, 487.822px 507.501px, 487.822px 507.501px, 484.695244px 509.212815px, 481.535272px 510.85836px, 478.343128px 512.437185px, 475.119856px 513.94884px, 471.8665px 515.392875px, 468.584104px 516.76884px, 465.273712px 518.076285px, 461.936368px 519.31476px, 458.573116px 520.483815px, 455.185px 521.583px, 455.185px 521.583px, 453.24742px 522.179573px, 451.3036px 522.754264px, 449.35372px 523.307031px, 447.39796px 523.837832px, 445.4365px 524.346625px, 443.46952px 524.833368px, 441.4972px 525.298019px, 439.51972px 525.740536px, 437.53726px 526.160877px, 435.55px 526.559px, 435.55px 526.559px, 433.41437px 526.965374px, 431.27424px 527.345072px, 429.12985px 527.698058px, 426.98144px 528.024296px, 424.82925px 528.32375px, 422.67352px 528.596384px, 420.51449px 528.842162px, 418.3524px 529.061048px, 416.18749px 529.253006px, 414.02px 529.418px, 414.02px 529.418px, 412.51655px 529.524206px, 411.0068px 529.620608px, 409.49075px 529.706882px, 407.9684px 529.782704px, 406.43975px 529.84775px, 404.9048px 529.901696px, 403.36355px 529.944218px, 401.816px 529.974992px, 400.26215px 529.993694px, 398.702px 530px, 398.702px 530px, 397.097718px 529.999312px, 395.419864px 529.994496px, 393.680126px 529.981424px, 391.890192px 529.955968px, 390.06175px 529.914px, 388.206488px 529.851392px, 386.336094px 529.764016px, 384.462256px 529.647744px, 382.596662px 529.498448px, 380.751px 529.312px, 380.751px 529.312px, 379.437227px 529.197496px, 378.117736px 529.076368px, 376.793169px 528.948292px, 375.464168px 528.812944px, 374.131375px 528.67px, 372.795432px 528.519136px, 371.456981px 528.360028px, 370.116664px 528.192352px, 368.775123px 528.015784px, 367.433px 527.83px, 367.433px 527.83px, 365.8538px 527.617023px, 364.2746px 527.391704px, 362.6954px 527.154361px, 361.1162px 526.905312px, 359.537px 526.644875px, 357.9578px 526.373368px, 356.3786px 526.091109px, 354.7994px 525.798416px, 353.2202px 525.495607px, 351.641px 525.183px, 351.641px 525.183px, 350.440595px 524.941377px, 349.23956px 524.693496px, 348.037265px 524.439339px, 346.83308px 524.178888px, 345.626375px 523.912125px, 344.41652px 523.639032px, 343.202885px 523.359591px, 341.98484px 523.073784px, 340.761755px 522.781593px, 339.533px 522.483px, 339.533px 522.483px, 338.257577px 522.167342px, 336.903536px 521.825656px, 335.483819px 521.460474px, 334.011368px 521.074328px, 332.499125px 520.66975px, 330.960032px 520.249272px, 329.407031px 519.815426px, 327.853064px 519.370744px, 326.311073px 518.917758px, 324.794px 518.459px, 324.794px 518.459px, 323.686938px 518.136908px, 322.576744px 517.805864px, 321.463406px 517.466516px, 320.346912px 517.119512px, 319.22725px 516.7655px, 318.104408px 516.405128px, 316.978374px 516.039044px, 315.849136px 515.667896px, 314.716682px 515.292332px, 313.581px 514.913px, 313.581px 514.913px, 312.470965px 514.539174px, 311.40896px 514.178392px, 310.386135px 513.827798px, 309.39364px 513.484536px, 308.422625px 513.14575px, 307.46424px 512.808584px, 306.509635px 512.470182px, 305.54996px 512.127688px, 304.576365px 511.778246px, 303.58px 511.419px, 299.737px 510.042px, 299.737px 510.042px, 298.629911px 509.662667px, 297.519648px 509.287096px, 296.406217px 508.915929px, 295.289624px 508.549808px, 294.169875px 508.189375px, 293.046976px 507.835272px, 291.920933px 507.488141px, 290.791752px 507.148624px, 289.659439px 506.817363px, 288.524px 506.495px, 288.524px 506.495px, 287.052426px 506.05811px, 285.575128px 505.6358px, 284.092742px 505.22681px, 282.605904px 504.82988px, 281.11525px 504.44375px, 279.621416px 504.06716px, 278.125038px 503.69885px, 276.626752px 503.33756px, 275.127194px 502.98203px, 273.627px 502.631px, 273.627px 502.631px, 272.409563px 502.362696px, 271.189264px 502.098208px, 269.966421px 501.838172px, 268.741352px 501.583224px, 267.514375px 501.334px, 266.285808px 501.091136px, 265.055969px 500.855268px, 263.825176px 500.627032px, 262.593747px 500.407064px, 261.362px 500.196px, 261.362px 500.196px, 259.77525px 499.900401px, 258.17488px 499.616568px, 256.56311px 499.343547px, 254.94216px 499.080384px, 253.31425px 498.826125px, 251.6816px 498.579816px, 250.04643px 498.340503px, 248.41096px 498.107232px, 246.77741px 497.879049px, 245.148px 497.655px, 245.148px 497.655px, 243.823075px 497.483255px, 242.50028px 497.3176px, 241.178685px 497.157705px, 239.85736px 497.00324px, 238.535375px 496.853875px, 237.2118px 496.70928px, 235.885705px 496.569125px, 234.55616px 496.43308px, 233.222235px 496.300815px, 231.883px 496.172px, 231.883px 496.172px, 230.161548px 496.000579px, 228.439784px 495.835512px, 226.717396px 495.676793px, 224.994072px 495.524416px, 223.2695px 495.378375px, 221.543368px 495.238664px, 219.815364px 495.105277px, 218.085176px 494.978208px, 216.352492px 494.857451px, 214.617px 494.743px, 214.617px 494.743px, 213.225645px 494.649218px, 211.8318px 494.558664px, 210.436095px 494.471326px, 209.03916px 494.387192px, 207.641625px 494.30625px, 206.24412px 494.228488px, 204.847275px 494.153894px, 203.45172px 494.082456px, 202.058085px 494.014162px, 200.667px 493.949px, 200.667px 493.949px, 198.865269px 493.869607px, 197.061312px 493.790856px, 195.256083px 493.713389px, 193.450536px 493.637848px, 191.645625px 493.564875px, 189.842304px 493.495112px, 188.041527px 493.429201px, 186.244248px 493.367784px, 184.451421px 493.311503px, 182.664px 493.261px, 168.293px 492.89px, 150.026px 492.467px, 135.761px 492.043px, 117.863px 491.196px, 117.863px 491.196px, 116.462082px 491.113454px, 115.069696px 491.025232px, 113.684894px 490.931958px, 112.306728px 490.834256px, 110.93425px 490.73275px, 109.566512px 490.628064px, 108.202566px 490.520822px, 106.841464px 490.411648px, 105.482258px 490.301166px, 104.124px 490.19px, 104.124px 490.19px, 102.4072615px 490.028066px, 100.700024px 489.859448px, 99.0022845px 489.683822px, 97.31404px 489.500864px, 95.6352875px 489.31025px, 93.966024px 489.111656px, 92.3062465px 488.904758px, 90.655952px 488.689232px, 89.0151375px 488.464754px, 87.3838px 488.231px, 87.3838px 488.231px, 86.092056px 488.03732px, 84.806936px 487.83728px, 83.528758px 487.63088px, 82.25784px 487.41812px, 80.9945px 487.199px, 79.739056px 486.97352px, 78.491826px 486.74168px, 77.253128px 486.50348px, 76.02328px 486.25892px, 74.8026px 486.008px, 74.8026px 486.008px, 73.2356374px 485.683969px, 71.6917352px 485.347272px, 70.1686818px 484.997903px, 68.6642656px 484.635856px, 67.176275px 484.261125px, 65.7024984px 483.873704px, 64.2407242px 483.473587px, 62.7887408px 483.060768px, 61.3443366px 482.635241px, 59.9053px 482.197px, 59.9053px 482.197px, 58.8086819px 481.849454px, 57.7157232px 481.490832px, 56.6265073px 481.121158px, 55.5411176px 480.740456px, 54.4596375px 480.34875px, 53.3821504px 479.946064px, 52.3087397px 479.532422px, 51.2394888px 479.107848px, 50.1744811px 478.672366px, 49.1138px 478.226px, 49.1138px 478.226px, 47.8329046px 477.674438px, 46.5611328px 477.102824px, 45.2987162px 476.511266px, 44.0458864px 475.899872px, 42.802875px 475.26875px, 41.5699136px 474.618008px, 40.3472338px 473.947754px, 39.1350672px 473.258096px, 37.9336454px 472.549142px, 36.7432px 471.821px, 36.7432px 471.821px, 35.8509745px 471.250803px, 34.966084px 470.669464px, 34.0886275px 470.077061px, 33.218704px 469.473672px, 32.3564125px 468.859375px, 31.501852px 468.234248px, 30.6551215px 467.598369px, 29.81632px 466.951816px, 28.9855465px 466.294667px, 28.1629px 465.627px, 28.1629px 465.627px, 26.3569037px 464.04981px, 24.6081696px 462.41292px, 22.9180699px 460.71795px, 21.2879768px 458.96652px, 19.7192625px 457.16025px, 18.2132992px 455.30076px, 16.7714591px 453.38967px, 15.3951144px 451.4286px, 14.0856373px 449.41917px, 12.8444px 447.363px, 12.8444px 447.363px, 12.13972443px 446.128224px, 11.45787904px 444.881112px, 10.79901581px 443.621988px, 10.16328672px 442.351176px, 9.55084375px 441.069px, 8.96183888px 439.775784px, 8.39642409px 438.471852px, 7.85475136px 437.157528px, 7.33697267px 435.833136px, 6.84324px 434.499px, 6.84324px 434.499px, 6.44346463px 433.364421px, 6.05756504px 432.225168px, 5.68557801px 431.081367px, 5.32754032px 429.933144px, 4.98348875px 428.780625px, 4.65346008px 427.623936px, 4.33749109px 426.463203px, 4.03561856px 425.298552px, 3.74787927px 424.130109px, 3.47431px 422.958px, 3.47431px 422.958px, 3.093579944px 421.372747px, 2.734181952px 419.782736px, 2.396155288px 418.188189px, 2.079539216px 416.589328px, 1.784373px 414.986375px, 1.510695904px 413.379552px, 1.258547192px 411.769081px, 1.027966128px 410.155184px, 0.818991976px 408.538083px, 0.631664px 406.918px, 0.631664px 406.918px, 0.51164379px 405.560132px, 0.40425856px 404.186736px, 0.30950801px 402.798124px, 0.22739184px 401.394608px, 0.15790975px 399.9765px, 0.10106144px 398.544112px, 0.05684661px 397.097756px, 0.02526496px 395.637744px, 0.00631619px 394.164388px, 7.7852436217229E-33px 392.678px, 0px 392.678px, 0.000842272px 390.808566px, 0.006738176px 388.916248px, 0.022741344px 387.000422px, 0.053905408px 385.060464px, 0.105284px 383.09575px, 0.181930752px 381.105656px, 0.288899296px 379.089558px, 0.431243264px 377.046832px, 0.614016288px 374.976854px, 0.842272px 372.879px, 0.842272px 372.879px, 0.989191868px 371.27983px, 1.145901504px 369.65936px, 1.312717156px 368.01855px, 1.489955072px 366.35836px, 1.6779315px 364.67975px, 1.876962688px 362.98368px, 2.087364884px 361.27111px, 2.309454336px 359.543px, 2.543547292px 357.80031px, 2.78996px 356.044px, 2.78996px 356.044px, 3.11375361px 353.85568px, 3.45365848px 351.64192px, 3.80998967px 349.40272px, 4.18306224px 347.13808px, 4.57319125px 344.848px, 4.98069176px 342.53248px, 5.40587883px 340.19152px, 5.84906752px 337.82512px, 6.31057289px 335.43328px, 6.79071px 333.016px, 6.79071px 333.016px, 7.17598618px 331.164294px, 7.57357664px 329.294192px, 7.98316626px 327.406318px, 8.40443992px 325.501296px, 8.8370825px 323.57975px, 9.28077888px 321.642304px, 9.73521394px 319.689582px, 10.20007256px 317.722208px, 10.67503962px 315.740806px, 11.1598px 313.746px, 12.5811px 308.135px, 12.5811px 308.135px, 13.2009499px 305.832946px, 13.8529832px 303.540408px, 14.5370853px 301.257722px, 15.2531416px 298.985224px, 16.0010375px 296.72325px, 16.7806584px 294.472136px, 17.5918897px 292.232218px, 18.4346168px 290.003832px, 19.3087251px 287.787314px, 20.2141px 285.583px);
			background-color: bisque;
			position: relative;
			z-index: 1;

		}

		.banner__five-image-wrap {
			position: absolute;
			top: -88px;
			right: 110px;
			width: max-content;
			z-index: 2;
		}

		.banner__info-item {
			color: #fff;
			font-size: 20px;
		}
	}

	&__about {
		padding: 150px 0 100px;
	}

	#gradient-canvas {
		//width: 100%;
		//height: 100%;
		--gradient-color-1: #a960ee;
		--gradient-color-2: #ff333d;
		--gradient-color-3: #90e0ff;
		--gradient-color-4: #ffcb57;
		//z-index: 0;
	}

	&__about-content {
		text-align: center;
	}

	&__about-me-title {
		font-family: $font__main;
		color: rgba(255, 247, 220, 0.30);
		font-size: 46px;
		font-weight: 500;
		line-height: normal;
		//max-width: 590px;
		margin-bottom: 70px;
	}

	.banner__circle {
		overflow: hidden;
		position: absolute;
		background: #fb4566;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		transform-origin: center center;
		//transform: scale(0);
	}

	.banner-btn {
		padding: 16px 40px;
		font-size: 16px;
		letter-spacing: 0.1em;

		@media (max-width: 1470px) {
			padding: 20px 30px;
		}

		@media (max-width: 1200px) and (min-width: 992px) {
			padding: 15px 20px;
		}

		@media (max-width: 991px) {
			padding: 15px 30px;
			font-size: 14px;
		}
	}


	&__info-list {
		background: #070707;
		padding: 40px;
		max-width: 240px;
		border-radius: 16px;
		margin-left: auto;
		list-style: none;
	}

	&__info-list-wrap {
		font-size: 40px;
		font-weight: 500;
		line-height: 1;
		color: $color__theme;

		&:not(:last-child) {
			padding-bottom: 25px;
			margin: 0 0 25px;
			border-style: solid;
			border-width: 0 0 1px;
			border-color: #353535;
		}
	}

	&__info-list-title {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		margin: 0;
		color: #b1b1b1;
	}

	&__info-list-count {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

}


.containerxz {
	height: 10vh;
	align-items: center;
	justify-content: center;
}

.line {
	height: 1px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}

.line svg {
	width: 100%;
	height: 500px;
	position: absolute;
	top: -250px;
}

.line svg path {
	stroke: white;
	stroke-width: 2px;
	fill: none;
	stroke-dasharray: 1420;
	/* Set the total length of the path */
	stroke-dashoffset: 1420;
	/* Start with the path fully hidden */
	animation: drawLine 4s cubic-bezier(0.5, 0.5, 0, 1) forwards;
}

@keyframes drawLine {
	to {
		stroke-dashoffset: 0;
		/* Animate to reveal the entire path */
	}
}

.line .box {
	height: 40px;
	width: 100%;
	position: relative;
	top: -20px;
	z-index: 1;
}

.line .box:hover {
	height: 500px;
	top: -250px;
}

//.intro_text svg {
//	font-family: var(--tj-ff-russo);
//	position: absolute;
//	width: 100%;
//	height: 100%;
//	left: 46%;
//	top: 55%;
//	-webkit-transform: translate(-50%, -50%) scale(1);
//	-ms-transform: translate(-50%, -50%) scale(1);
//	transform: translate(-50%, -50%) scale(1);
//	display: -webkit-box;
//	display: -ms-flexbox;
//	display: flex;
//	-webkit-box-align: center;
//	-ms-flex-align: center;
//	align-items: center;
//	-webkit-box-pack: center;
//	-ms-flex-pack: center;
//	justify-content: center;
//	//z-index: -1;
//	-webkit-animation: 3s pulsate infinite alternate ease-in-out;
//	animation: 3s pulsate infinite alternate ease-in-out;
//}
//
//.intro_text svg text.animate-stroke {
//	-webkit-animation: stroke 4s;
//	animation: stroke 4s;
//	opacity: 0.7;
//}
//
//.intro_text svg text {
//	text-transform: uppercase;
//	animation: stroke 4s;
//	stroke-width: 1.2;
//	stroke: #2a1454;
//	fill: transparent;
//	font-size: 240px;
//	display: inline-block;
//	opacity: 0;
//}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) scale(1.05);
		transform: translate(-50%, -50%) scale(1.05);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes pulsate {
	0% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) scale(1.05);
		transform: translate(-50%, -50%) scale(1.05);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
}


span.progress-shape {
	position: absolute;
	bottom: 0;
	width: max-content;
	left: 0;
	z-index: -1;
}

.circle-shape {
	background: #070707;
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: -1;
	height: 425px;
	width: 425px;
	border-radius: 50%;

}

// Keyframes rotate X
@keyframes rotateX {
	0% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

.btn-mr-2 {
	margin-right: 20px;
}