.blog-post-items {
	.row {
		margin-right: -12px;
		margin-left: -12px;
		> * {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

.blog-grid-item {
	position: relative;
	overflow: hidden;

	.blog-grid-item__image {
		height: 550px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}


	&:hover {
		.blog-grid-item__image img {
			transform: scale(1.1);
		}
	}

}

.blog-grid-item__image {
	position: relative;

	a {
		display: block;
		height: 100%;
	}

	img {
		width: 100%;
		height: 100% !important;
		object-fit: cover;
		transition: all 0.3s ease-in-out;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}
}

.blog-grid-item__content {
	position: absolute;
	bottom: 0;
	padding: 20px;
	z-index: 2;
}

.blog-grid-item__small-list {
	position: relative;
	margin-bottom: 24px;

	.blog-grid-item__image {
		overflow: hidden;
		img {
			height: 263px !important;
			width: 100%;
		}
	}

	&:hover {
		.blog-grid-item__image img {
			transform: scale(1.07);
		}
	}
}

h3.blog-grid-item__title {
	font-size: 26px;
	font-weight: 600;

	a {
		color: #fff;
	}
}

.blog-grid-item__meta-date {
	color: #fff;
	display: flex;
	align-items: center;
	gap: 5px;

	svg {
		path {
			stroke: #fff;
		}
	}
}


// Blog Grid
.blog-grid {
	.blog-grid__image {
		height: 300px;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.blog-grid__excerpt {
		margin-bottom: 20px;
	}
}

.blog-grid__small-list {
	margin-bottom: 24px;

	.blog-grid__image {
		height: 150px;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	h3.blog-grid__title {
		font-size: 18px;

		a {
			// Line clamp 2
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			font-weight: 500;
		}
	}
}

// Blog List
.blog-list-main {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 24px;

	.blog-grid__image {
		height: 280px;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	h3.blog-grid__title {
		font-size: 20px;
		line-height: 1.3;
	}
}

.blog-list__small-list {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	border: 1px solid #E5E5E5;

	.blog-list__image {
		min-width: 150px;
		height: 130px;
		overflow: hidden;
		margin-right: 15px;


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.blog-list__title {
		font-size: 18px;
		font-weight: 600;
	}
}


// Blog Metro
.gpt-blog-metro {
	margin-bottom: 24px;
	position: relative;

	.gpt-blog-metro__image {
		position: relative;
		height: 400px;
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.gpt-blog-metro__content {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 20px;
		z-index: 2;
	}

	h3.gpt-blog-metro__title {
		font-size: 26px;
		font-weight: 600;
	}
}

.gpt-blog-metro__small {
	margin-bottom: 24px;
	position: relative;

	.gpt-blog-metro__image {
		position: relative;
		height: 200px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 15px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}



	h3.gpt-blog-metro__title {
		font-size: 20px;
		font-weight: 600;
	}
}


