.pps-btn {
	position: relative;
	padding: 12px 35px;
	background-color: transparent;
	border: 1px solid $color__theme;
	z-index: 1;
	color: #fff;
	overflow: hidden;
	font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	transition: all 0.4s ease-in-out;
	gap: 5px;
	//color: #fff;

	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: $color__theme;
		transition: all .3s ease;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	&.btn-circle {
		border-radius: 40px;
	}

	&.btn-sqr {
		border-radius: 0;
	}

	&.btn-round {
		border-radius: 4px;
	}

	.pps-btn-content-wrapper {
		display: flex;
		align-items: center;

		.elementor-align-icon-right, .pps-btn__align-icon-right {
			order: 2;
		}
	}

	&:hover {
		color: $color__theme;
		//border-color: $color__theme;

		&:before {
			top: auto;
			bottom: 0;
			height: 0;
		}
	}

	&:focus {
		color: #fff;
	}

	&.btn-small {
		padding: 5px 30px;
	}

	&.btn-sm {
		padding: 10px 15px;
		font-size: 14px;
		line-height: 1;
	}

	&.btn-lg {
		padding: 14px 35px;
		font-size: 20px;
	}

	&.btn-outline {
		background: transparent;
		color: $color__heading;
		border-color: #CBCBCB;

		&:before {
			top: auto;
			bottom: 0;
			height: 0;
		}

		&:hover {
			color: #fff;
			border-color: $color__theme;

			&:before {
				top: 0;
				bottom: auto;
				height: 100%;
			}
		}

		&.btn-light {
			border-color: $color__theme;
			color: $color__heading;

			&:hover {
				color: #fff;
				background-color: $color__theme;
			}
		}

		&.btn-dark {
			border: 1px solid #EAEEF3;
			color: $color__heading;

			&:hover {
				color: #fff;
				background-color: $color__heading;
			}
		}
	}

	&.btn-light:not(.btn-outline) {
		background-color: $white;
		color: $color__heading;
		border-color: $white;

		&:hover {
			color: $white;
			background: transparent;
		}
	}

	&.btn-dark:not(.btn-outline) {
		//background-color: $color__heading;
		color: #fff;

		&:hover {
			color: $color__heading;
			background: transparent;
			border-color: $color__heading;
		}
	}

	.elementor-align-icon-left {
		margin-right: 5px;
		order: -1;
	}

	.elementor-align-icon-right {
		margin-left: 5px;
	}

	.pps-btn-icon {
		font-size: 14px;
	}

	.pps-btn__icon {
		line-height: 1;
	}
}

.pps-button {
	font-family: $font__heading;
	color: rgba(255, 255, 255, 0.40);
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	position: relative;
	transition: all 0.3s ease-in-out;

	.pps-button--icon {
		position: relative;
		height: 80px;
		width: 80px;
		line-height: 80px;
		border: 1px solid rgba(255, 255, 255, 0.20);
		text-align: center;
		border-radius: 50%;
		display: inline-block;
		font-size: 24px;
		transition: all 0.3s ease-in-out;
		overflow: hidden;

		&:before {
			background-color: $color__theme;
			border-radius: 50%;
			color: #fff;
			content: '';
			height: 120px;
			width: 120px;
			position: absolute;
			top: 0;
			transform: scale(1) translateY(-120px);
			transition: transform .6s cubic-bezier(.66, .00, .34, 1.00);
			z-index: -1;
		}

		&:after {
			position: absolute;
			content: "\ea70";
			font-family: 'remixicon' !important;
			font-style: normal;
			-webkit-font-smoothing: antialiased;
			left: 0;
			bottom: -31px;
			transform: translate(0, 0);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
			color: #000;
		}
	}

	i {
		display: inline-block;
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		color: #fff;
		.pps-button--icon {
			//background: $color__theme;
			color: rgba(255, 255, 255, 0.4);
			border-color: $color__theme;

			&:after {
				opacity: 1;
				visibility: visible;
				left: 27px;
				bottom: -2px;
			}

			&:before {
				transform: scale(1.55) translateY(0);
			}
		}
		i {
			transform: translate(34px, -37px);
		}
	}
}

.pps-btn__icon {
	line-height: 1;
}

.play-button {
	font-size: 14px;
	font-weight: 500;
	position: relative;

	.pps-btn__text {
		position: relative;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #111921;
			transition: all 0.3s ease-in-out;
		}
	}

	.pps-btn__icon {
		height: 30px;
		width: 30px;
		line-height: 30px;
		border-radius: 50%;
		text-align: center;
		background: #111921;
		display: inline-block;
		color: #fff;
		font-size: 12px;
		margin-right: 7px;

		i {
			margin-left: 3px;
		}
	}
}


.pps-scroll-top-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: $color__theme;
}

.pps-scroll-top.progress-done {
	opacity: 1;
}

.pps-scroll-top > svg.progress-circle path {
	stroke: $color__theme;
	stroke-width: 4;
	box-sizing: border-box;
	transition: all 200ms linear;
}

.pps-scroll-top-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: $color__theme;
}

.pps-scroll-top > svg path {
	fill: none;
}

.pps-scroll-top.progress-done {
	visibility: visible;
	transform: translateY(0);
}

.pps-scroll-top {
	position: fixed;
	right: 30px;
	bottom: 25px;
	width: 45px;
	height: 45px;
	cursor: pointer;
	display: block;
	border-radius: 100%;
	box-shadow: inset 0 0 0 0.1rem rgba(128, 130, 134, 0.25);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transform: translateY(0.75rem);
	transition: all 0.2s linear, margin-right 0s;
}

//.play-button {
//	color: rgba(255,255,255,0.7);
//	font-size: 15px;
//	font-weight: 400;
//
//	i {
//		height: 45px;
//		width: 45px;
//		line-height: 43px;
//		border: 2px solid rgba(255,255,255,0.4);
//		text-align: center;
//		margin-right: 10px;
//		border-radius: 50%;
//		font-size: 14px;
//		transition: all 0.3s ease-in-out;
//		color: #fff;
//
//		&:before {
//			margin-left: 3px;
//		}
//	}
//
//	&:hover {
//		color: #fff;
//
//		i {
//			background-color: #fff;
//			color: $color__theme;
//		}
//	}
//
//	&.btn-fill {
//		color: $color__heading;
//		i {
//			background-color: $color__theme;
//			border-color: $color__theme;
//			color: #fff;
//		}
//	}
//}

.pps-inline {
	> div {
		display: inline-block;
	}

	@media(max-width: 420px) {
		.pps-button-primary {
			margin-bottom: 15px;
			margin-right: 0 !important;
		}
	}
}

.pps-block {
	> div {
		display: block;
	}
}


/**
* Popup Button
 */
.popup-btn {
	display: inline-block;
	height: 75px;
	width: 75px;
	line-height: 77px;
	text-align: center;
	background-color: $color__theme;
	color: #fff;
	border-radius: 50%;
	position: relative;
	font-size: 20px;

	i {
		margin-left: 5px;
	}

	&:before {
		content: '';
		position: absolute;
		left: -12.5px;
		top: -12.5px;
		height: 100px;
		width: 100px;
		opacity: 0;
		border-radius: 50%;
		border: 1px solid $color__theme;
		animation: btnWave 1500ms linear infinite;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		border-radius: 50%;
		border: 10px solid $color__theme;
		animation: btnWave 1000ms linear infinite;
	}

	&:hover {
		color: #fff;
	}
}

@keyframes btnWave {
	0% {
		opacity: 1;
		transform: scale(0.9);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}

/* Back To Top */
//.return-to-top {
//	position: fixed;
//	bottom: -30px;
//	right: 20px;
//	width: 42px;
//	height: 42px;
//	line-height: 42px;
//	text-align: center;
//	cursor: pointer;
//	z-index: 998;
//	border-radius: 50%;
//	opacity: 0;
//	transition: bottom 0.5s ease, opacity 0.5s ease;
//
//	&:before {
//		content: "";
//		position: absolute;
//		top: 0;
//		right: 0;
//		bottom: 0;
//		left: 0;
//		background: transparent;
//		opacity: 1;
//		display: block;
//		transform: scale(1);
//		border-radius: inherit;
//		transition: transform 0.5s ease, opacity 0.6s ease;
//	}
//
//	&:after {
//		content: "";
//		position: absolute;
//		top: 0;
//		right: 0;
//		bottom: 0;
//		left: 0;
//		display: block;
//		background: rgba(0, 0, 0, 0.25);
//		box-shadow: 0 0 0 0 transparent;
//		transform: scale(1);
//		transition: all 0.3s ease;
//		border-radius: inherit;
//	}
//
//	> i {
//		position: relative;
//		overflow: hidden;
//		font-size: 12px;
//		width: inherit;
//		height: inherit;
//		line-height: inherit;
//		display: block;
//		color: transparent;
//		text-shadow: 0 0 #fff, 0 50px #fff;
//		transition: text-shadow 0.2s ease;
//		z-index: 1;
//	}
//
//	&:hover {
//		&:after {
//			transform: scale(1.07);
//			background: $color__theme;
//			box-shadow: 0 10px 20px 8px rgba($color__theme, 0.15);
//		}
//
//		> i {
//			text-shadow: 0 -50px #fff, 0 0 #fff;
//		}
//	}
//
//	&.back-top {
//		bottom: 20px;
//		opacity: 1;
//	}
//}


.pps-back-btn {
	position: relative;
	font-family: $font__heading;
	display: inline-flex;
	font-size: 24px;
	font-weight: 600;
	color: $color__heading;
	align-items: center;
	gap: 10px;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -5px;
		height: 2px;
		width: 100%;
		background-color: $color__heading;
	}

	&:hover {
		color: $color__theme;

		svg path {
			stroke: $color__theme;
		}

		&:after {
			background-color: $color__theme;
		}
	}
}


a.pps-btn-circle {
	font-family: $font__heading-3;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 730px;
	height: 730px;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	border: 1px solid #262522;
	background: #141414;
	color: #fff;
	text-decoration: underline !important;
	font-size: 110px;
	font-weight: 700;
	line-height: 130px;
	border-radius: 50%;

	@media(max-width: 767px) {
		width: 540px;
		height: 540px;
		font-size: 60px;
		line-height: 70px;
	}

	@media(max-width: 575px) {
		width: 390px;
		height: 390px;
		font-size: 40px;
		line-height: 50px;
	}

	@media(max-width: 420px) {
		width: 300px;
		height: 300px;
		font-size: 40px;
		line-height: 50px;
	}

}