.site-footer {
	position: relative;
	overflow: hidden;
	background-color: #121316;

	.description, p {
		color: rgba(255, 255, 255, 0.8);
		font-size: 15px;
	}

	.widget {
		position: relative;
		z-index: 2;
		padding: 0;

		ul.footer-social-link {
			margin-top: 15px;

			li {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 7px;
				}

				a {
					border: 2px solid rgba(255, 255, 255, 0.2);
					height: 44px;
					width: 44px;
					line-height: 41px;
					border-radius: 6px;
					color: #fff;
					text-align: center;
					font-size: 15px;

					&:hover {
						background-color: #fff;
						border-color: #fff;
						color: $color__theme;
					}

				}
			}
		}

		ul.social-links {
			display: flex;
			gap: 10px;
			justify-content: center;
			position: relative;

			li {
				display: inline-block;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 50px;
					width: 50px;
					color: #fff;
					font-size: 16px;
					transition: all 0.3s ease-in-out;
					border-radius: 50%;
					background: rgba(255, 255, 255, 0.10);

					&:hover {
						background: #fff;
						color: $color__theme;
					}
				}
			}
		}

	}


	.footer-wrapper {
		padding: 80px 0 40px;
	}

	//.widget_media_image {
	//	margin-bottom: 20px;
	//}

	.site-info {
		border-top: 1px solid rgba(255, 255, 255, 0.10);;
		position: relative;
		z-index: 22;

		.site-info-inner {
			padding: 35px 0;
			justify-content: space-between;

			@media(max-width: 768px) {
				display: block !important;
				text-align: center;
				padding: 20px 0;

				.copyright {
					margin-bottom: 10px;
				}
			}
		}

		.copyright {
			padding: 33px 0;
			text-align: center;

			@media(max-width: 767px) {
				padding: 15px 0;
			}

			p {
				margin: 0;
				color: rgba(255, 255, 255, 0.7);
				font-size: 16px;

				a {
					color: #fff;

					&:hover {
						color: $color__theme;
					}
				}
			}
		}
	}
}

.widget_nav_menu {
	ul {
		display: flex;
		gap: 40px;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 10px;

		li {
			margin-bottom: 0 !important;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: -25px;
				top: 50%;
				transform: translateY(-50%);
				width: 8px;
				height: 8px;
				background-color: #D0D0D0;
				border-radius: 50%
			}
		}
	}
}

.site-footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin-right: 26px;
		position: relative;
		padding-left: 15px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 8px;
			height: 8px;
			background-color: #D0D0D0;
			border-radius: 50%
		}


		a {
			color: #FFF7DC;
			font-size: 20px;
			font-weight: 400;
		}
	}
}

.wp-block-image {
	margin-bottom: 30px;
	.aligncenter {
		text-align: center;
	}
}



