.site-footer {
	position: relative;
	overflow: hidden;
	background-color: #121316;


	.description, p {
		color: rgba(255, 255, 255, 0.8);
		font-size: 15px;
	}

	.logo-dark {
		display: none;
	}


	.widget {
		position: relative;
		z-index: 2;
		padding: 0;

		ul.footer-social-link {
			margin-top: 15px;

			li {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 7px;
				}

				a {
					border: 2px solid rgba(255, 255, 255, 0.2);
					height: 44px;
					width: 44px;
					line-height: 41px;
					border-radius: 6px;
					color: #fff;
					text-align: center;
					font-size: 15px;

					&:hover {
						background-color: #fff;
						border-color: #fff;
						color: $color__theme;
					}

				}
			}
		}

		// Footer Contact Info
		ul.contact-info {
			li {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 16px;

				a {
					font-size: 18px;
				}

				i {
					color: $color__theme;
				}
			}
		}
	}


	.footer-wrapper {
		padding: 107px 0 70px;
	}

	.site-info {
		border-top: 1px solid rgba(255, 255, 255, 0.10);;
		position: relative;
		z-index: 22;

		.site-info-inner {
			padding: 35px 0;
			justify-content: space-between;

			@media(max-width: 768px) {
				display: block !important;
				text-align: center;
				padding: 20px 0;

				.copyright {
					margin-bottom: 10px;
				}
			}
		}

		.copyright {
			padding: 33px 0 45px;
			text-align: center;

			@media(max-width: 767px) {
				padding: 15px 0;
			}

			p {
				margin: 0;
				color: rgba(255, 255, 255, 0.7);
				font-size: 16px;

				a {
					color: $color__theme-2;

					&:hover {
						color: $color__theme;
					}
				}
			}
		}
	}
}

.widget_nav_menu {
	ul {
		display: flex;
		gap: 40px;

		li {
			margin-bottom: 0;
		}
	}
}

.footer-newsletter {
	display: flex;
	align-items: center;
	gap: 20px;

	.newsletter-input {
		position: relative;
		flex: 2;

		i {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			color: $color__theme;
		}

		input {
			margin-bottom: 0 !important;
			padding: 10px 14px 10px 40px !important;

			//-webkit-background-clip: text !important;
			//background-clip: text !important;
			//-webkit-text-fill-color: transparent !important;
			//color: #fff;

			&::placeholder {
				color: #fff !important;
			}
		}
	}

	input {
		height: 60px;

		// Auto fill color
		//&:-webkit-autofill {
		//    -webkit-box-shadow: 0 0 0 30px #fff inset;
		//}
		//
		//// Auto fill Background color
		//&:-webkit-autofill {
		//    -webkit-text-fill-color: #000 !important;
		//}


	}
}


.footer-menu-enable {
	display: flex;
	align-items: center;
	justify-content: space-between;


	@media(max-width: 767px) {
		display: block;
		text-align: center;

		.footer-social-wrapper {
			margin-bottom: 20px;
		}

		.copyright {
			padding: 15px 0 5px;
		}
	}
}

.wp-widget-block-newsletter {
	max-width: 400px;
}

.site-footer-menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin-right: 26px;
		position: relative;
		padding-left: 15px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 8px;
			height: 8px;
			background-color: #FFCF23;
			border-radius: 50%
		}


		a {
			color: #FFF7DC;
			font-size: 20px;
			font-weight: 400;
		}
	}
}


.noxfolio-grid-lines {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

	span {
		position: absolute;
		width: 1px;
		height: 100%;
		background-color: rgba(255, 255, 255, .05);

		&:nth-child(1) {
			left: 10%;
		}

		&:nth-child(2) {
			left: 20%;
		}

		&:nth-child(3) {
			left: 30%;
		}

		&:nth-child(4) {
			left: 40%;
		}

		&:nth-child(5) {
			left: 50%;
		}

		&:nth-child(6) {
			left: 60%;
		}

		&:nth-child(7) {
			left: 70%;
		}

		&:nth-child(8) {
			left: 80%;
		}

		&:nth-child(9) {
			left: 90%;
		}
	}

}

