.section-heading {
    position: relative;
    z-index: 2;

    .subtitle {
        font-size: 16px;
        font-weight: 500;
        display: block;
        color: hsla(0,0%,100%,.65);
        margin-bottom: 15px;
    }

    .section-title {
        font-weight: 600;
        font-size: 45px;
        line-height: 1.2;
        margin-bottom: 17px;

        > div {
            display: inline-block;
            overflow: hidden;
            position: relative;
        }

        @media(max-width: 1200px) {
            font-size: 50px;
        }

        @media(max-width: 992px) {
            font-size: 46px;
        }

		span {
			color: $color__theme;
            //text-decoration: underline;
		}

        &.has-secondary-title {
            font-weight: 400;
            margin-bottom: 0;
        }

        @media(max-width: 992px) {
            font-size: 32px;
        }

        @media(max-width: 992px) {
            br {
                display: none;
            }
        }
    }

    .description {
        font-weight: 400;
        margin: 0;
        font-size: 16px;

        @media(max-width: 991px) {
            br {
                display: none;
            }
        }

        p {
            &:first-child {
                margin-bottom: 0;
            }

            &:nth-child(2) {
                margin-top: 20px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

    }

    &.text-left {
        .description {
            margin: 0;
        }
    }

    &.text-right {
        .description {
            margin: 0 0 0 auto;
        }
    }

    .section-title-secondary {
        font-size: 46px;
        font-weight: 700;
    }
}

.gpt-title {
    font-family: $font__main;
    color: rgba(255, 247, 220, 0.3);
    font-size: 46px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 70px;
}

.gpt-section-title-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;

    .gpt-section-title {
        font-size: 26px;
        font-weight: 700;
        color: $color__heading;
        margin: 0;
    }

    span.title-border {
        border: 1px solid #e5e5e5;
        flex-grow: 1;
        height: 6px;
        transition: all ease 0.31s;
        display: block;
        border-radius: 10px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -13px;
            transform: translateY(-50%);
            width: 9px;
            height: 9px;
            background-color: $color__theme;
            border-radius: 10px;
        }
    }

    a {
        .gpt-section-title {

            &:hover {
                color: $color__theme;
            }
        }
    }
}