$color__theme: #17509B;
$color__theme-secondary: #34A533;
$color__theme-2: #2a1454;

$color__heading: #161616;
$color__heading-2: #141416;
$color__body: #505050;
$color__theme_accent: #3564ac;

$color__background-body: #F0F1F4;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #3e3f6d;
$color__link: #3e3f6d;
$color__link-visited: #5f5fe8;
$color__link-hover: #5f5fe8;
$color__text-heading2: #0e2549;
$color__text-heading: #3e3f6d;
$color__text-main: #505050;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #F0F1F4;

// Border Colors
$color__bg: #F0F1F4;
//$color__border: #F0F1F4;
$color__border: #687c975c;
$color__gredient: linear-gradient(182.29deg, #DDE6EB 17.49%, rgba(221, 230, 235, 0) 103.85%);;

// Color Black and white
$white: #ffffff;
$black: #000000;






