$font__main: "DM Sans", sans-serif;
$font__heading: "Encode Sans Condensed", sans-serif;
$font__heading-2: 'Poppins', sans-serif;
$font__heading-3: 'Plus Jakarta Sans', sans-serif;
$font__heading-4: 'DM Sans', sans-serif;
$font__code: 'Open Sans', sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


$font_3: 'Playfair Display', serif;
