.site-header {
	position: relative;
	z-index: 999;

	.admin-bar & {
		margin-top: 32px;

		@media(max-width: 782px) {
			margin-top: 46px;
		}
	}

	.error404 & {
		box-shadow: 0 2px 6px rgba(1, 15, 28, 0.1)
	}

	.top-bar {
		background: $color__bg;
		padding: 10px 0;

		@media(max-width: 991px) {
			display: none;
		}
	}

	.top-bar-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.top-bar-left {
		max-width: 80%;
	}

	.trending-icon svg {
		width: 20px;
		height: auto;
		margin-right: 5px;
	}

	.trending-icon svg path {
		fill: #17509B;
	}

	.top-bar-content-left {
		display: flex;
		align-items: center;
		flex: 1;
	}

	.top-bar-content {
		display: flex;
		align-items: center;

		p {
			margin: 0;
			color: $color__text-main;
		}

		.trending-text {
			font-size: 16px;
			color: $color__heading;
			font-weight: 600;
		}
	}

	.trending-text-wrapper {
		display: flex;
		align-items: center;
		margin-right: 10px;
		position: relative;
		padding-right: 10px;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 16px;
			background: $color__heading;
		}
	}

	.top-bar-right {
		font-family: $font__heading;
		display: flex;
		align-items: center;
		gap: 5px;
		background: $color__theme;
		padding: 7px 10px;
		border-radius: 5px;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: .5px;
		line-height: 1;

		i {
			font-size: 16px;
			color: #fff;
			font-weight: 500;
		}
	}



	.site-logo {
		.site-title {
			font-size: 34px;
			font-weight: 500;
			padding: 8px 0;
			margin: 0;
		}

		img {
			max-width: 250px;
		}

		a {
			font-size: 30px;
			font-weight: 700;
			padding: 21px 0;
			display: block;
			color: $color__heading;

			@media(max-width: 991px) {
				padding: 13px 0;
			}

			h3 {
				color: $color__theme;
				font-size: 28px;
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 0;
			}
		}

		.logo-sticky {
			display: none;
		}
	}

	.mobile-logo {
		display: none;
	}

	.header-menu {
		background: #0a1233;
		width: 100%;
	}

	.header-middle-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
	}

	.add-menu {
		margin: 0;
		padding: 31px 0;
		list-style: none;
		font-weight: 500;

		li {
			a {
				color: $color__heading;

				&:hover {
					color: $color__theme;
				}
			}
		}
	}

	.nav-btn {
		padding: 11px 35px;
	}

	.gpt-hamburger {
		width: 24px;
		cursor: pointer;

		&.active {
			opacity: 0;
			visibility: hidden;
		}

		@media(min-width: 992px) {
			display: none;
		}

		&:focus {
			outline: 0;
		}

		.bar {
			background: $white;
			height: 2px;
			display: block;

			&:nth-child(2) {
				width: 17px;
			}

			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
	}

	&.header_light {
		.gpt-hamburger {
			.bar {
				background: #fff;
			}
		}
	}

	&.header_transparent {
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	&.showed {
		width: 100%;
		position: fixed;
		background: #fff;
		z-index: 99999;

		.header-position & {
			top: 32px;

			@media(max-width: 782px) {
				top: 46px;
			}
		}

		.site-logo {
			.main-logo {
				display: none;
			}

			a {
				color: $color__heading;
				padding: 13px 0;

			}

			h3 {
				color: $color__heading;
			}
		}

		.add-menu {

			li {
				a {
					color: $color__heading;
				}
			}
		}

		.gpt-hamburger {
			.bar {
				background: $white;
			}

		}
	}

	ul {
		&.icon-menu {
			&:before {
				display: none;
			}
		}
	}

	.nav-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.search-btn {
			font-size: 22px;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			border: 1px solid rgba(255,255,255,0.2);
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;


			@media(min-width: 992px) and (max-width: 1200px) {
				font-size: 18px;
				height: 45px;
				width: 45px;
			}
		}

		.gpt-btn {
			@media(min-width: 992px) and (max-width: 1200px) {
				font-size: 14px;
				padding: 14px 20px;
			}
		}
	}

	.menu-wrapper {
		display: flex;
		align-items: center;

		@media(max-width: 991px) {
			display: block;
		}
	}

	.submenu-align-right & {
		width: auto;
	}

	.site-main-menu {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			position: relative;
			@media(min-width: 992px) {
				padding: 36px 0;
			}


			> a {
				font-size: 16px;
				font-weight: 500;
				color: #fff;
				position: relative;
				line-height: 1;

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 1px;
					background: #fff;
					transition: all 0.3s ease-in-out;

				}

				&:hover {
					color: #fff;

					&:before {
						width: 100%;

					}
				}

				@media(min-width: 992px) and (max-width: 1200px) {
					font-size: 13px;
				}

			}

			&.current-menu-item {
				> a {
					//color: $color__theme;

					&:after {
						width: 100%;
					}
				}
			}
		}

		li {
			display: inline-block;

			@media(max-width: 991px) {
				display: block;
			}

			&:not(:last-child) {
				margin-right: 25px;

				@media(max-width: 1320px) {
					margin-right: 20px;
				}

				@media(max-width: 1200px) {
					margin-right: 10px;
				}

				@media(max-width: 991px) {
					margin-right: 0;
				}
			}

			&.menu-item-has-children {
				> a {
					position: relative;
					padding-right: 20px;

					@media(min-width: 992px) {
						&:after {
							position: absolute;
							content: "\ea4e";
							font-family: remixicon !important;
							font-style: normal;
							-webkit-font-smoothing: antialiased;
							right: 0;
							font-size: 18px;
							top: 2px;
							line-height: 1;
							color: #fff;
							width: auto;
						}
					}

					&:hover {
						&:after {
							color: $white;
						}
					}
				}

				.sub-menu {
					margin: 0;

					@media(min-width: 992px) {
						padding:  0;
						display: block;
						position: absolute;
						top: 115%;
						left: 0;
						opacity: 0;
						visibility: hidden;
						box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
						min-width: 230px;
						z-index: 2222;
						background: #fff;
						transition: all 0.3s ease-in-out;
					}

					&.sub-menu-wide {
						width: 100%;
						display: flex;
						justify-content: space-between;
						padding: 40px 80px 25px;


						> .mega-menu-item > a.menu-link {
							font-size: 16px;
							text-transform: uppercase;
							font-weight: 500;
							display: inline-block;
							color: $color__heading;
						}

						.sub-menu {
							position: unset;
							box-shadow: unset;
							visibility: unset;
							opacity: unset;
						}
					}

					li {
						display: block;
						position: relative;
						margin-right: 0;
						line-height: 36px;

						a {
							font-size: 16px;
							padding: 7px 20px;
							display: block;
							line-height: 1.4;
							color: #464A56;
							font-weight: 500;

							&:after {
								color: #464A56
							}

							&:hover {
								color: #fff;
								background: $color__theme;

								&:after {
									color: #fff;
								}
							}
						}

						&.has-submenu {
							a {
								&:after {
									right: 20px;
									top: 12px;
								}
							}
						}

						.sub-menu {
							padding: 15px 0;
							position: absolute;
							left: 100%;
							top: 0;
							background: #fff;
							min-width: 230px;
							transition: all 0.3s ease-in-out;
							opacity: 0;
							visibility: hidden;
							box-shadow: 0 5px 10px #14303a15;
						}

						&.menu-item-has-children {
							&:hover {
								ul {
									opacity: 1;
									visibility: visible;
									top: -15px;
								}
							}
						}
					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: visible;
						top: 100%;
					}
				}
			}

		}
	}

	&.submenu-align-right {
		.menu-wrapper {
			width: auto;
		}

		.site-main-menu {
			> li {
				&:nth-last-child(-n+3) {
					&.menu-item-has-children {
						.sub-menu {
							left: auto;
							right: 0;

							li {
								ul {
									right: 100%;
								}
							}
						}
					}
				}
			}
		}
	}

	&.header_transparent {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		&.header_light:not(.showed):not(.mobile-header) {
			.site-main-menu {
				> li {
					> a {
						//color: rgba(255, 255, 255, 0.4);
					}

					&.menu-item-has-children > a:after {
						color: #fff;
					}

					//&.current-menu-item > a {
					//	color: rgba(255, 255, 255, 0.4);
					//}
				}
			}

			.nav-right {
				.search-btn, .canvas-btn {
					border: 1px solid #1A1A19;
					background: #141414;
					color: #fff;
				}

				//.nav-btn {
				//	background: $color__theme;
				//	color: #fff;
				//	border-color: $color__theme;
				//}
			}
		}
	}

	&.header-fixed.showed {
		&:not(.mobile-header) .site-main-menu > li {
			padding: 27px 0;
		}
	}

	&.header-fixed.showed {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 9999;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
		animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;

		.top-bar, .header-middle-wrapper {
			display: none;
		}


		//.header-position & {
		//	top: 32px;
		//
		//	@media(max-width: 782px) {
		//		top: 46px;
		//	}
		//
		//	.fullscreen-menu {
		//		top: 0;
		//	}
		//}

		.site-logo {
			.main-logo {
				display: none;
			}

			.logo-sticky {
				display: block;
			}
		}

		//.menu-trigger .dot_icon .dot {
		//	background: $color__heading;
		//}

		//.site-main-menu {
		//	li {
		//		a {
		//			color: $color__heading;
		//
		//			&:hover {
		//				color: $color__theme;
		//			}
		//		}
		//	}
		//}
	}

	&.header-two {
		.top-bar {
			background: $color__theme-secondary;
		}

		.gpt-topbar-date {
			color: #fff;
			font-weight: 600;
		}

		@media(min-width: 992px) {
			.header-menu {
				background: #fff;
			}
		}

		.site-main-menu > li {

			&.menu-item-has-children {
				> a {
					&:after {
						color: #505050;
					}
				}
			}

			> a {
				font-weight: 600;
				color: $color__body;

				&:before {
					display: none;
				}

				&:hover {
					color: $color__theme-secondary;

					&:after {
						color: $color__theme-secondary;
					}
				}
			}

			&.current-menu-item {
				a {
					color: $color__theme-secondary;

					&:after {
						color: $color__theme-secondary;
					}
				}
			}
		}

		.nav-right .search-btn {
			color: #000;
		}
	}
}


@keyframes stickySlideDown {
	from {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}


.menu-trigger {
	overflow: hidden;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
	border: 0px solid transparent;
	@media #{$tab} {
		justify-content: center;
		display: block !important;
	}

	.dot_icon {
		display: flex;
		flex-wrap: wrap;
		width: 24px;
		height: 24px;
		margin: -2px;
		overflow: hidden;

		.dot {
			width: 4px;
			height: 4px;
			background: $color__heading;
			margin: 2px;
			transition: all 0.3s linear;

			.menu-light & {
				background: #fff;
			}
		}
	}

	&:hover {
		.dot_icon {
			.dot {
				&:nth-child(odd) {
					transform: translate(8px, 8px);
				}

				&:nth-child(5) {
					opacity: 0;
				}
			}
		}
	}
}


#site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media(min-width: 992px) {
		> div {
			min-width: 200px;
		}

		.header-two & {
			> div {
				min-width: auto;
			}
		}
	}
}
@media(min-width: 992px) {
	.close-menu {
		display: none;
	}
}

.mobile-menu-header {
	display: none;
	align-items: center;
	justify-content: space-between;
	padding: 20px 15px;
	border-bottom: 1px solid #eee;

	h3 {
		margin-bottom: 0;
	}
}

.close-menu {
	height: 40px;
	width: 40px;
	background: rgba(136, 136, 136, 0.1);
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color: #051441;
	font-size: 20px;
}

.site-main-menu {
	list-style: none;

	ul {
		list-style: none;
	}
}

.mobile-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media(min-width: 992px) {
		display: none;
	}
}

.mobile-menu-icon {
	> span {
		display: block;
		width: 30px;
		height: 2px;
		background: #fff;
		margin-bottom: 5px;

		//.site-header-canvas & {
		//	background: $color__heading;
		//}
	}
}

/*--------------------------------------------------------------
### Main Nav Mobile
--------------------------------------------------------------*/
.site-header {
	@media(max-width: 991px) {
		height: auto;
		display: flex;
		flex-direction: column;

		.header-middle-wrapper {
			order: 2;

			.header-middle-left {
				display: none;
			}
		}

		.header-menu {
			padding: 8px 0;
		}

		.mobile-menu-header {
			display: flex;
		}

		&.header-two {
			.site-logo {
				display: none;
			}
		}

		.site-logo {
			.logo-sticky {
				display: none;
			}
		}

		.tt-hamburger {
			display: block;
		}

		&.showed {
			.logo-sticky {
				display: block;
			}

			.main-nav-container .menu-item-depth-0 > a.active {
				color: #fff;
			}
		}
		.nav-right {
			.search-btn {
				height: 40px;
				width: 40px;

				svg {
					path {
						fill: #fff;
					}
				}
			}
		}

		.mobile-logo {
			display: block;
			max-width: 180px;

			h3 {
				color: #fff;
				margin-bottom: 0;
			}
		}

		.main-nav-container {
			position: fixed;
			top: 0;
			height: 100vh;
			background: #fff;
			max-width: 400px;
			width: 100%;
			text-align: left;
			overflow-y: auto;
			padding-bottom: 50px;
			left: -100px;
			//transition-duration: .3s;
			opacity: 0;
			visibility: hidden;
			z-index: 999;
			box-shadow: 0 10px 20px rgba(0,0,0,0.1);
			transition:  cubic-bezier(0.23, 1, 0.32, 1) all 0.3s;


			.header-position & {
				top: 32px;

				@media(max-width: 780px) {
					top: 46px;
				}
			}

			@media(max-width: 420px) {
				max-width: 100%;
			}

			&.open {
				opacity: 1;
				left: 0;
				visibility: visible;
			}

			li {
				//padding: 0 10px;
				position: relative;
				border-bottom: 1px solid #eee;

				i {
					position: absolute;
					right: 20px;
					top: 10px;
					z-index: 22;
					height: 25px;
					width: 25px;
					text-align: center;

					&:not(.hide-drop) {
						color: #fff;
					}
				}

				a{
					font-size: 18px;
					font-weight: 600;
					color: $color__heading;
					position: relative;
					z-index: 1;
					padding: 12px 15px;
					display: flex;
					align-items: center;
					justify-content: space-between;

					&:hover {
						display: block;
						background-color: #f5f5f5;
					}
				}

				&.is-open {
					> a {
						background-color: $color__theme;
						color: #fff;
					}

					i {
						//color: #fff;
					}
				}

				.tt-btn-link {
					padding: 11px 35px;
				}

				i.ti-plus {
					position: absolute;
					right: 20px;
					top: 10px;
					font-size: 12px;
					z-index: 3;
				}

				&.menu-item-has-children {
					> a {
						position: relative;

						&.active {
							&:after {
								content: "\e622";
							}
						}
					}

					li {
						a {
							font-size: 14px;
							text-transform: capitalize;
						}
					}
				}
			}

			&.current-menu-item {
				&.is-open {
					> a {
						display: block;
						background-color: #f5f5f5;
					}
				}
			}

			.menu-item-depth-0 {

				> a {
					&.active {
						color: #fff;
						background: $color__theme;

					}
				}

			}

			.site-vertical-menu li a {
				padding: 12px 15px;
				margin-bottom: 0;
			}
		}

		.header-position & {
			&.showed {
				.main-nav-container {
					top: 0;
				}
			}
		}

		.main-nav {
			position: static;
			z-index: 3333;
			line-height: 1.2;

			.site-main-menu {
				padding-left: 0;
			}

			.sub-menu {
				padding-left: 15px;
				margin-left: 0;
				margin-bottom: 0;
				display: none;

				> li {
					padding: 0;
				}

				&.active {

					.main-item > .menu-link {
						background: #f8f9fa;
					}
				}

				li {
					a {
						border-top: 0;
					}

					&.is-open {
						a {
							&.is-open {
								.fa-chevron-down {
									color: $color__theme;
								}
							}
						}
					}

					&.current-menu-item {
						a {
							&.active {
								color: $color__theme;
							}
						}
					}
				}
			}

			.nav-item.active-main-item > .menu-link {
				color: $color__theme;
				background: #f8f9fa;
				border-color: $color__theme;
			}

			.sub-menu {
				padding-left: 10px;
				margin-bottom: 0;
			}
		}



		/*--------------------------------------------------------------
		### Main Nav
		--------------------------------------------------------------*/
		.main-nav {
			cursor: default;
			position: relative;
			z-index: 10;
			text-align: left;
			font-weight: 500;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			a:before,
			.close-bar {
				display: none;
			}

			//.site-logo {
			//    a {
			//        font-size: 40px;
			//    }
			//}

			.site-main-menu {
				margin-top: 20px;
			}

			.site-main-menu,
			.site-main-menu ul {
				list-style: none;
			}


			// Menu
			.nav-item,
			.nav-item.current-menu-item,
			.nav-item.current-menu-ancestor {
				&:before {
					background-color: $color__theme;
				}
			}

			.nav-item {
				&.active-main-item {
					> .menu-link {
						color: $color__theme;
					}
				}
			}

			&.hidden {
				display: none;
			}

			@include tablet_screen() {
				.close-menu {
					display: block;
				}
			}
		}
	}

	@media (max-width: 991px) {
		.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
			width: 100% !important;
		}
	}

}

.mask-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 222;
}


.mega-menu-wrapper {
	> a {
		display: block !important;
	}

	@media(max-width: 991px) {
		.elementor-element {
			> .elementor-element-populated {
				padding: 10px !important;
			}
		}

		.elementor-column {
			width: 100% !important;
		}
	}


}

.woo_header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	form.search-form {
		display: flex;
		max-width: 450px;
		width: 100%;
		overflow: hidden;
		border-radius: 6px;
	}

	input:not([type=checkbox]):not([type=submit]) {
		margin: 0;
		padding: 0 20px;
		border-radius: 0;
		border: 0;


		&:focus {

			background-color: #f5f5f5;
			padding: 0 20px;
		}
	}

	button {
		padding: 10px 20px;
		border-radius: 0;

		&:hover {
			background-color: $color__theme;

		}
	}
}




.close-header {
	background-color: #f84258;
	color: #fff;
	justify-content: end;
	padding: 20px;
	display: none;

	@media(max-width: 991px) {
		display: flex;
	}

	.button-close i {
		font-weight: 700;
	}
}

.admin-bar {
	@media(max-width: 991px) {
		.header-categories {
			margin-top: 32px;
		}
	}

}


h3.trending-post-title {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
}

.trending-news-slider {
	max-width: 700px;
}


ul.gpt-social-link {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 10px;

	li {
		a {
			border-radius: 8px;
			border: 1px solid rgba(255, 255, 255, 0.36);
			color: #fff;
			height: 30px;
			width: 30px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 14px;

			&:hover {
				background: #000;
				border-color: #000;
				color: #fff;
			}
		}
	}

	.header-three & {
		gap: 18px;
		li {
			a {
				color: $color__heading;
				border: 0;
				height: auto;
				width: auto;

				&:hover {
					color: $color__theme;
					background: transparent;
				}
			}
		}

		.top-bar-left {
			display: flex;
			align-items: center;
			gap: 16px;
			font-weight: 500;
		}
	}
}


.header-three {
	.top-bar {
		background: transparent;
		border-bottom: 1px solid #EFEFEF;
		padding: 5px 0;
	}

	.top-bar-left {
		display: flex;
		align-items: center;
		gap: 16px;
		font-weight: 500;
	}


	.header-middle-inner {
		padding: 0;
	}

	.site-logo a {
		padding: 14px 0;
	}

	.header-middle-wrapper {
		display: none;
	}

	.gpt-hamburger {
		text-align: right;
		.bar {
			background: #000000;
			border-radius: 10px;

			&:nth-child(2) {
				width: 17px;
				margin-left: auto;
			}
		}
	}

	@media(max-width: 991px) {
		.main-nav-container li a {
			font-weight: 500;
		}
	}

	@media  (min-width: 992px) {

		.header-middle-wrapper {
			display: block;
		}

		.header-middle-inner, #site-navigation {
			justify-content: center;
		}

		.site-main-menu > li {
			padding: 13px 0;
		}
	}

	.header-menu {
		background: transparent;
		width: 100%;
		border-top: 1px solid var(--Border-Color, #EFEFEF);
		border-bottom: 1px solid var(--Border-Color, #EFEFEF);

		.site-main-menu {
			> li {
				> a {
					color: #6E6E6E;

					&:before {
						display: none;
					}

					&:hover {
						color: $color__theme;
					}
				}
			}
		}
	}
}

form.header-search-form {
	display: flex;
	align-items: center;
	border-radius: 6px;
	border: 1px solid var(--Border-Color, #EFEFEF);
	background: #FAFAFA;

	#search-input {
		border: 0;
		background: transparent;
		font-size: 16px;
		font-weight: 500;
		padding: 10px 20px;
		width: 100%;
		margin-bottom: 0;
		height: 36px;
	}

	button {
		background: transparent;
		border: 0;
		padding: 6px 10px;
	}
}
