.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border: 1px solid rgba(255, 255, 255, 0.16);
	padding: 20px;
	margin: 2em 0;
	text-align: left;
	border-radius: 10px;
}

.is-large.wc-block-cart .wc-block-cart-items:after {
	border-color: rgba(255, 255, 255, 0.5);
}

.wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input {
	height: 35px;
}

.wc-block-cart-item__wrap {
	display: flex;
	align-items: center;
	gap: 20px;
}

.wc-block-cart-item__wrap {
	a {
		color: rgba(255, 255, 255, 0.7);
		font-size: 15px;
		min-width: 70px;

		&:hover {
			color: #fff;
		}
	}
}

.wc-block-components-product-metadata__description {
	p {
		font-size: 18px;
		line-height: 1.5;
		margin: 0;
	}
}

.is-large.wc-block-cart .wc-block-cart-items td {
	vertical-align: middle;
}

.wc-block-cart__submit-container {
	margin-top: 30px;
}

.wc-block-cart__submit-button, .wc-block-components-button:not(.is-link) {
	background: transparent;
	border-radius: 30px;
	color: #fff;
	border: 2px solid #fff;
	overflow: hidden;

	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		z-index: -1;
		background: #fff;
		transition: all .3s ease;

	}

	&:hover {
		color: #0F183E;
		&:before {
			top: auto;
			bottom: 0;
			height: 100%;
		}
	}
}

.wc-block-components-form .wc-block-components-text-input input[type=email], .wc-block-components-form .wc-block-components-text-input input[type=number], .wc-block-components-form .wc-block-components-text-input input[type=tel], .wc-block-components-form .wc-block-components-text-input input[type=text], .wc-block-components-form .wc-block-components-text-input input[type=url], .wc-block-components-text-input input[type=email], .wc-block-components-text-input input[type=number], .wc-block-components-text-input input[type=tel], .wc-block-components-text-input input[type=text], .wc-block-components-text-input input[type=url] {
	background: transparent !important;
	border: 1px solid rgba(255, 255, 255, 0.16);
	border-radius: 30px;
	color: #fff !important;
	padding: 10px 20px;

	&::placeholder {
		color: rgba(255, 255, 255, 0.7);
	}
}

.wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input, .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input {
	background: transparent !important;
	color: #fff !important;
}

.wc-block-components-form .wc-block-components-text-input label, .wc-block-components-text-input label, .wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label, .wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control label.components-base-control__label {
	color: rgba(255, 255, 255, 0.7) !important;
}

.wc-block-checkout__add-note .wc-block-components-textarea, .wc-block-checkout__add-note .wc-block-components-textarea:focus {
	background: transparent !important;
	border: 1px solid rgba(255, 255, 255, 0.16);
	border-radius: 10px;
	color: #fff !important;
	padding: 10px 20px;
}

.wc-block-components-checkout-step--with-step-number .wc-block-components-checkout-step__container:after {
	border-color: #fff !important;
}