.blog-list {
	.post.sticky {
		display: block;
		border-color: $color__theme;

		.blog-content {

			.entry-title {
				a {
					color: $color__theme;
				}
			}
		}
	}
}

.updated:not(.published) {
	display: none;
}

.no-results {
	.page-content {
		padding: 50px 0 120px;
		text-align: left;

		@media(max-width: 991px) {
			padding: 50px 0 80px;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	word-break: break-word;

	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

.page-header {
	.page-title {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 50px;
	}
}

.page-content {
	padding: 120px 0;
}

.page-template-default {
	.page-content {
		padding: 114px 0 97px;

		.comments-area {
			padding: 34px 0 23px;
		}

		.page-links {
			margin-bottom: 20px;
		}
	}
}

.blog-post-archive {
	padding: 120px 0;
}

.search-no-results {
	.page-content {
		.page-content {
			padding: 20px 0 0;
		}
	}
}

.post-author {
	display: inline-block;
	font-size: 13px;
	color: #92929f;

	img {
		border-radius: 50% !important;
		margin-right: 10px;
	}

	&:hover {
		color: $color__theme;
	}
}


.post-wrapper,
.blog-posts {
	.blog-post-list {
		margin-bottom: 30px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);

	}
}

//.blog-archive-wrapper {
//	.sidebar_right {
//		#main-content {
//			@media(min-width: 1200px) {
//				padding-right: 30px;
//			}
//		}
//	}
//}


/* POst Grid */

.post-grid {
	position: relative;
	background: #fff;
	transition: all 0.3s ease-in-out;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);

	.meta-category-wrapper {

		a {
			display: inline-block !important;
			border: 0;
			font-size: 13px;
			font-weight: 600;
			line-height: 1;
			padding: 6px 15px;
			background-color: rgba(23, 92, 255, 0.15);

			&:hover {
				color: #fff;
				background: $color__theme;
			}


			&:not(:last-child) {
				margin-right: 7px;
			}
		}
	}

	.feature-image {
		position: relative;
		overflow: visible;

		&:hover {
			img {
				transform: scale(1);
			}
		}
	}

	.blog-content {
		padding: 19px 30px 40px;

		.entry-title {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 600;
			margin: 14px 0 9px;
		}

		.author {
			span {
				display: inline-block;
				margin-right: 5px;
			}
		}

		.author-simple {
			a {
				color: #5c5c60;

				&:hover {
					color: $color__theme;
				}
			}
		}

		p {
			margin-bottom: 26px;
		}

		.read_more_btn {
			display: inline-flex;
			align-items: center;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;


			i {
				margin-left: 5px;
				color: $color__heading;
			}

			&:hover {
				i {
					margin-left: 8px;
					transition: all 0.3s ease-in-out;
					color: $color__theme;

				}
			}
		}

	}

	&:hover {
		background-color: rgb(255, 255, 255);
		box-shadow: 0 30px 50px 0 rgba(1, 4, 45, 0.08);

		.feature-image {
			img {
				transform: scale(1);
			}
		}
	}
}

.post-meta {
	margin-bottom: 32px;
	padding: 5px 0 0;
	line-height: 1;

	li {
		display: inline-block;
		position: relative;
		font-size: 14px;
		color: #696969;

		i {
			margin-right: 8px;
			font-size: 16px;
			color: $color__theme;
			line-height: 0.9;
		}

		&:not(:last-child) {
			margin-right: 20px;

			@media(max-width: 480px) {
				margin-bottom: 15px;
			}
		}

		.author {
			a {
				color: #5c5c60;
				font-weight: 400;
				font-size: 15px;

				&:hover {
					color: $color__theme;
				}
			}
		}

		a {
			margin: 0;
			color: #8D8D95;
			line-height: normal;
			font-size: 14px;
			font-weight: 500;

			&:hover {
				color: $color__theme;
			}
		}
	}
}

.post-categories {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		position: relative;

		&:not(:last-child) {
			a {
				&:after {
					content: '/';
					position: absolute;
					right: -15px;
					top: 0;
				}
			}
		}
	}
}

.entry-meta,
.post-categories {
	a {
		color: $color__theme;
		font-size: 12px;
		display: inline-block;
		margin-right: 20px;
		position: relative;
		line-height: 1.2;

		&:not(:last-child) {
			&:after {
				content: '/';
				position: absolute;
				right: -15px;
				top: 0;
			}
		}
	}
}


/** Blog List */
.blog-post-list {
	overflow: hidden;
	background: #fff;
	border-radius: 6px;

	&.tag-title {
		&:after {
			display: none;
		}
	}

	&.sticky {
		box-shadow: none;

		.entry-title {
			a {
				color: $color__theme;
			}
		}
	}

	.post-thumbnail-wrapper {
		position: relative;
	}

	.pps-blog-content {
		padding: 30px;

		@media(max-width: 575px) {
			padding: 20px;
		}
	}

	ul.entry-meta {
		li {
			color: #818181;

			a {
				color: #818181;
			}

		}
	}

	.post-thumbnail {
		position: relative;
		display: block;
		overflow: hidden;

		img {
			border-radius: 8px;
			transform: scale(1.03);
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	.entry-header {
		padding: 50px 50px 0;

		.entry-title {
			font-size: 24px;
			font-weight: 700;
			-ms-word-wrap: break-word;
			word-wrap: break-word;
		}
	}


	.entry-title {
		font-size: 30px;
		line-height: 1.2;
		font-weight: 700;
		margin-bottom: 0;
		//word-wrap: break-word;
		//word-break: break-all;

		a {
			color: $color__heading;
			position: relative;
			background-image: linear-gradient(currentColor, currentColor);
			background-size: 0 2px;
			background-position: 0 100%;
			background-repeat: no-repeat;
			transition: background-size 0.4s cubic-bezier(0, .57, .55, 1);
			will-change: background-size;

			&:hover {
				background-size: 100% 2px;
				color: unset;
			}

		}
	}

	.entry-content {
		p {
			margin-bottom: 0;
			color: #B7B7C5;
		}
	}

	.entry-meta-wrapper {
		margin: 20px 0;
	}

	.read-more {
		margin-top: 25px;

		.pps-btn.btn-sm {
			padding: 12px 25px;
			font-size: 15px;
			border-color: #e5e5e5;
			color: #5c5c60;
			border-radius: 4px;

			&:hover {
				color: #fff;
				border-color: $color__theme;
			}
		}
	}


	&.sticky {
		.post-thumbnail {
			margin-bottom: 0;
		}

		.entry-header {
			.entry-title {
				a {
					color: $color__theme;

					&:hover {
						color: $color__theme;
					}
				}
			}
		}
	}

}

ul.entry-meta {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 25px;
	row-gap: 0;
	flex-wrap: wrap;

	@media(max-width: 575px) {
		&:not(.meta-style-two) {
			flex-wrap: wrap;
			gap: 15px;
			row-gap: 0;
		}

	}

	li {

		color: #666;
		font-size: 14px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		gap: 4px;

		a {
			font-size: 14px;
			color: #666;
			display: inline-block;
			position: relative;
			line-height: 1;
			transition: all 0.3s ease-in-out;
			margin-right: 0;

			&:hover {
				color: $color__theme;
			}
		}
	}

	&.meta-style-two {
		li {
			text-transform: capitalize;
			font-weight: 600;
			position: relative;

			.author-avatar {
				display: inline-block;
				margin-right: 4px;
				height: 24px;
				width: 24px;
				border-radius: 50%;
				overflow: hidden;
				border: 1px solid #e5e5e5;
			}

			.author-meta {
				display: flex;
				align-items: center;
				gap: 3px
			}

			&:not(:last-child) {
				&:after {
					content: '';
					position: absolute;
					right: -17px;
					top: 9px;
					height: 6px;
					width: 6px;
					background: #D9D9D9;
					border-radius: 50%;
				}
			}
		}
	}
}

// Single Post

.single-post {
	.container {
		&.no-sidebar {
			max-width: 970px !important;
		}
	}
}

.blog-single-wrapper {
	position: relative;
}



.related-post-wrapper {
	margin-top: 92px;

	.related-title {
		font-size: 30px;
		margin-bottom: 42px;
		font-weight: 600;
	}
}


.related-post {
	overflow: hidden;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0 30px 50px 0 rgba(9, 4, 48, 0.08);
	transition: all 0.4s cubic-bezier(.72, .16, .345, .875) 0s;
	margin-bottom: 30px;

	.feature-image {
		img {
			min-height: 260px;
			max-height: 260px;
			width: 100%;
			object-fit: cover;
		}
	}

	.post-footer-meta {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			position: relative;
			color: #5c5c60;

			&:not(:last-child) {
				margin-right: 25px;
			}

			a {
				color: #5c5c60;
				font-size: 15px;
				font-weight: 400;

				&:hover {
					color: $color__theme;
				}
			}

			i {
				color: $color__theme;
				margin-right: 10px;
			}
		}
	}

	.blog-content {
		padding: 20px 24px 24px;

		.post-title {
			font-size: 24px;
			line-height: 1.2;
			margin: 15px 0 10px;

			a {
				color: $color__heading;
				background-image: linear-gradient(to bottom, #161616 0%, #161616 98%);
				background-size: 0 2px;
				background-position: 0 100%;
				background-repeat: no-repeat;

				&:hover {
					background-size: 100% 2px;
				}
			}
		}
	}
}

.blog-single-header {
	padding: 100px 0;
	background: #ffe4e4;

	.single-post-title {
		font-weight: 700;
	}
}

.post-single {
	.author-meta {
		display: flex;
		align-items: center;
		gap: 3px;
	}

	.author-avatar {
		display: inline-block;
		margin-right: 4px;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #e5e5e5;
	}
}

h3.post-share-title {
	font-size: 18px;
	margin-bottom: 10px;
}

.social-share-link {
	margin: 0;
	padding: 0;
	list-style: none;


	li {
		display: inline-block;

		&:not(:last-child) {
			margin-bottom: 7px;
		}

		a {
			display: block;

			i {
				font-size: 15px;
				position: relative;
				height: 40px;
				width: 44px;
				line-height: 40px;
				text-align: center;
				display: block;
				border-radius: 5px;
				color: #fff;
				background: $color__theme;
				transition: all 0.3s ease-in-out;

				&.fa-facebook-f {
					background: #1559c2;
				}

				&.fa-x-twitter {
					background: #1da1f2;
				}

				&.fa-pinterest-p {
					background: #bd081c;
				}

				&.fa-linkedin-in {
					background: #0077b5;
				}
			}


			&:hover {

				i {
					opacity: 0.8;
				}
			}

		}
	}
}

.pps-btn-link {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	color: $color__heading;

	i {
		font-size: 80%;
		margin-left: 7px;
	}
}

.tag_list {
	margin-top: 30px;

	.tags {
		color: #051441;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 10px;
		font-weight: 600;
	}
}

.single-post-navigation {
	margin-top: 70px;
	border-top: 1px solid $color__border;
	border-bottom: 1px solid $color__border;
	padding: 25px 0;
}

.single-post-nav {
	max-width: 90%;
	display: flex;
	align-items: center;

	@media (max-width: 576px) {
		width: 100%;
	}

	.post-nav-thumbnail {
		width: 70px;
		height: 70px;
		border-radius: 2px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		transition: all 0.3s ease-in-out;
		margin-right: 16px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.post-nav-wrapper {
		flex: 2;
	}

	.post-nav-title {
		font-family: $font__heading;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: $color__heading;
		margin-bottom: 5px;
		line-height: 1;

		i {
			font-size: 18px;
			line-height: 1;
		}
	}

	.post-title {
		font-family: $font__heading;
		color: $color__heading;
		font-size: 16px;
		transition: all 0.3s ease-in-out;
		margin-bottom: 0;
	}

	&:hover {
		.post-title {
			color: $color__theme;
		}
	}
}

.post-next {
	@media(max-width: 767px) {
		margin-top: 30px;
	}

	.single-post-nav {
		margin-left: auto;
	}

	.post-nav-thumbnail {
		margin: 0 0 0 16px;
	}

	.post-nav-wrapper {
		text-align: right;
	}
}


blockquote, .wp-block-quote {
	padding-left: 40px;
	border-left: 0;
	background: transparent;
	border-left: 4px solid #fff;
	overflow: hidden;
	position: relative;

	&:before {
		content: "\f10d";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		position: absolute;
		top: 0;
		left: 10px;
		line-height: 1;
		color: rgba(255, 255, 255, 0.1);
		border-radius: 50%;
		font-size: 45px
	}

	p {
		font-family: $font__heading;
		font-size: 30px;
		line-height: 1.4;
		color: #fff;
		font-style: normal;
		margin-bottom: 4px;
		font-weight: 300;
		position: relative;


		cite {
			margin-left: 0;
		}
	}


	cite {
		font-family: $font__main;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		color: $color__heading;
		padding-top: 23px;
		display: inline-block;
		position: relative;
	}
}

.blog-container {
	padding: 120px 0;
}

.single-post .page-content {
	padding: 0;
}

.blog {
	.page-content {
		padding: 120px 0;
	}
}


// Single Post

.blog-single-content-area {
	padding: 80px 0;

	@media(max-width: 991px) {
		padding: 30px 0 50px;
	}
}

.no-sidebar {
	.post-single {
		max-width: 1000px;
		margin: 0 auto;
	}

	&.single-post {
		#comments {
			max-width: 1000px;
			margin: 93px auto 0;
		}
	}

}


.post-single {
	margin-bottom: 0;

	a  {
		color: #2962ff;
	}

	.feature-image {
		margin-bottom: 45px;
	}

	.entry-header {
		padding-bottom: 25px;
	}

	.entry-title {
		font-size: 36px;
		margin: 10px 0 25px;
	}

	.wp-block-image {
		margin-top: 30px;
	}

	.blocks-gallery-grid {
		li {
			img {
				border-radius: 10px;
			}
		}
	}

	blockquote {
		p {
			margin: 0;
		}
	}

	.wp-block-image {
		text-align: center;
	}

	.wp-block-image {
		margin-bottom: 39px;
	}

	.edit-link {
		margin-left: 15px;
	}


	.single-post-title {
		font-size: 36px;
		margin-bottom: 10px;
		-ms-word-wrap: break-word;
		word-wrap: break-word;

		@media(max-width: 767px) {
			font-size: 30px;
		}
	}

	.entry-meta {
		margin-bottom: 30px;
	}


	.post-meta-cat {
		margin-bottom: 20px;

		a {
			height: 30px;
			line-height: 30px;
			padding: 0 30px;
			font-size: 18px;
			text-transform: capitalize;
			color: #fff;
			border-radius: 5px;
			background-color: #37a45d;
			min-width: auto;
			font-weight: 400;
			margin: 0 5px;
			border: 0px solid transparent;
			display: inline-block;

			&:first-child {
				background-color: #e9683e;
			}
		}
	}

	.meta-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.feature-image {
		text-align: center;
		overflow: hidden;

		img {
			border-radius: 6px;
			transform: scale(1.01);
		}
	}

	.entry-footer {
		margin-top: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		align-items: center;
		padding: 20px 0;

		@media(max-width: 767px) {
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
		}

		.tag_list {
			padding-bottom: 10px;
			border-bottom: 1px solid #e8ebf4;
		}
	}

	.tag-title {
		display: block;
		margin-right: 10px;
		font-size: 18px;
	}

	h2 {
		font-size: 30px;
		margin-top: 20px;
	}

	.single-tagcloud {
		a {
			display: inline-block;
			font-size: 14px;
			color: #646464;
			border: 1px solid #e5e5e5;
			border-radius: 4px;
			padding: 9px 15px;
			background-color: #fff0;
			transition: all ease 0.31s;
			text-transform: lowercase;
			margin-right: 6px;
			margin-bottom: 6px;
			line-height: 1.4;

			&:hover {
				background-color: $color__theme;
				border-color: $color__theme;
				color: #fff;
			}
		}
	}
}



.post-single {
	.wp-block-search {
		margin-bottom: 20px;
	}

	&.tag-title {
		&:after {
			display: none;
		}
	}
}

@media (max-width: 991px) {

	.post-wrapper {
		&.blog-masonry {
			&.column-3 {
				.post-item {
					width: calc(50% - 30px);
				}
			}
		}
	}
}

@media (max-width: 768px) {

	.post-wrapper {
		&.blog-masonry {
			&.column-3 {
				.post-item {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}

	.comment-list {
		.comment {
			.comment-body {
				&.menu-comments {
					.comment-author {
						height: 60px;
						width: 60px;
						margin-right: 15px;
					}
				}

				.comment-author {
					height: 60px;
					width: 60px;
					margin-right: 15px;
				}

				.comment-content {
					padding-bottom: 20px;

					h4 {
						font-size: 18px;
					}

					p {
						font-size: 16px;
						line-height: 26px;
					}
				}


			}
		}

		.children {
			padding-left: 70px;
		}
	}

	.comment-respond .comment-reply-title {
		font-size: 35px;
		margin-bottom: 30px;
	}
}

@media (max-width: 420px) {
	.comment-list .comment .comment-body .comment-content .ratings {
		position: static;
	}
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
	padding-top: 20px;

	a,
	.current {
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background: #f8f6f2;
		color: $color__heading;
		display: inline-block;
		text-align: center;
		line-height: 31px;
		font-size: 16px;
		margin-left: 5px;

		&:hover {
			background: $color__theme;
			color: #fff;
		}
	}

	.current {
		background: $color__theme;
		color: #fff;
	}
}


.post-navigation {
	margin-bottom: 50px;

	.nav-links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		position: relative;
		width: calc(100% + 2%);

		.nav-previous,
		.nav-next {
			width: calc(50% - 2%);
			height: 50px;
			line-height: 50px;
			padding: 0 15px;
			background: #333;
			margin-right: 2%;
			flex: 1;
			font-weight: 500;
			text-align: center;
			transition: all 0.3s ease-in-out;

			a {
				font-weight: 500;
				font-size: 16px;
				color: #fff;
				display: block;
				outline: 0;

				&:hover {
					color: #fff;
				}
			}

			&:hover {
				background: $color__theme;
			}
		}

		.nav-previous {
			padding-right: 30px;

		}

		.nav-next {
			padding-left: 30px;
		}
	}
}


.first-lg {
	-webkit-order: -1;
	-ms-flex-order: -1;
	-webkit-box-ordinal-group: 0;
	order: -1;
}


/* Author Box */


.post-share {
	display: inline-block;
	flex: 1;
}



@media (max-width: 991px) {

	.blog-container {
		padding: 80px 0;
	}

	#secondary {
		margin-top: 40px;
	}

}

@media (max-width: 768px) {
	.blog-container {
		padding: 50px 0;
	}
}

.search-header {
	margin-bottom: 30px;
}

.search_page_404_wrapper {
	text-align: center;
	max-width: 650px;
	margin: 0 auto;

	.page-title {
		margin-bottom: 14px;
	}

	.banner_404_text {
		margin-bottom: 30px;
	}
}

.search_result_form {
	.search-form {
		display: flex;
		border: 0;
		margin-bottom: 20px;
		background-color: #eff1f5;
		border-radius: 6px;
		height: 60px;

		input {
			border: none;
			border-radius: 0;
			padding: 20px;
			margin: 0;
			background: transparent;
			height: 60px;

			&::placeholder {
				color: #878793;
			}
		}

		.search-submit {
			border: 0;
			background: transparent;
			padding: 10px 20px;
			color: $color__theme;
			font-size: 22px;
		}
	}
}


.no-results {
	.page-content {
		padding: 0 0 120px;

		@media(max-width: 991px) {
			padding: 0 0 80px;
		}
	}
}

.pagination-wrapper ~ .sidebar {
	margin-bottom: 0;
}


// New Style Blog

.pps-post-category {
	margin-bottom: 10px;

	a {
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		border-radius: 2px;
		display: inline-block;
		padding: 0 10px;
		height: 26px;
		line-height: 25px;
		background: $color__theme;
		color: #fff;
		margin-right: 5px;

		&:hover {
			color: #fff;
			background-color: $color__theme;
			border-color: $color__theme;
		}
	}
}

.blog-posts {
	//.col-sm-6 {
	//	margin-top: 0 !important;
	//}
	.blog-post-list {
		.entry-title {
			font-size: 26px;

			@media(min-width: 992px) and (max-width: 1200px) {
				font-size: 20px;
			}

			@media(max-width: 575px) {
				font-size: 22px;
			}
		}

		.entry-meta-wrapper {
			margin: 10px 0 13px;
		}
	}

}

.blog-posts-list {
	.blog-post-list {
		margin-bottom: 30px;
		//box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
		border: 1px solid #f1f1f1;
	}
}

.blog-post-grid {
	margin-bottom: 0 !important;
}

aside.sidebar {
	//padding: 20px;
	//background: #fff;
	//box-shadow: 0 10px 20px rgba(0,0,0,0.1);

	.widget {
		padding: 30px;
		background: #f1f1f1;
		border-radius: 4px;
	}

	@media(min-width: 992px) {
		position: sticky;
		top: 80px;
	}
}

.sidebar_right, .sidebar_left {
	.col-md-4 {
		.blog-post-list .entry-title {
			font-size: 22px;
		}
	}
}

h1.page-title {
	padding: 0 15px;
}