.widget_search {

    .search-form {
        border-radius: 6px;
        position: relative;
        background-color: #eff1f5;
        display: flex;
		overflow: hidden;

        label {
            margin: 0;
            width: 100%;
        }

        input {
            padding: 11px 20px;
            border-radius: 0;
            border: 0;
            width: 100%;
            color: #696969;
            height: 54px;
            margin: 0;
            background: transparent;

            &::placeholder {
                color: #878793;
            }

            &:focus {
                border-color: $color__theme;
            }
        }

        .search-submit {
            background-color: $color__theme;
            border: 0;
            padding: 12px 18px 10px 20px;
            color: #fff;
            font-size: 22px;
            border-radius: 0;

            &:focus {
                outline: 0;
            }

            &:hover {
                background-color: $color__theme-2;
            }

        }
    }
}


#search-menu-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s ease, visibility .7s ease;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #F2F6F9;

    .close-search {
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        background-color: $color__theme;
        color: #fff;
        z-index: 9999999;
        opacity: 5;
        position: absolute;
        right: 8px;
        top: 17px;
        font-size: 26px;
        cursor: pointer;
        text-align: center;

        @media(max-width: 992px) {
            height: 40px;
            width: 40px;
            line-height: 40px;
            right: 18px;
            top: 11px;
            font-size: 20px;
        }
    }

    .overlay-bg {
        transition: -webkit-filter 0.2s;
        transition: filter 0.2s;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.toggled {
        opacity: 1;
        visibility: visible;
    }

    .wrapper {
        max-width: 850px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .search-form, #ajax-search-form {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #ddd;
        position: relative;

        input {
            font-family: $font__heading;
            border-radius: 0;
            border: 0;
            background: transparent;
            height: 100px;
            padding: 0;
            color: #000;
            font-size: 60px;
            font-weight: 600;
            margin: 0;
            line-height: 2.5;

            @media (max-width: 991px) {
                height: 50px;
                font-size: 30px;
            }

            &::placeholder {
                color: #b1b1b1;
            }

            &:focus {
                outline: none; // Optional: remove default focus outline
            }

        }

        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background: $color__theme;
            transition: width 0.4s ease;
        }

        //input:focus ~ &:after { // Change this line
        //    width: 100% !important;
        //}

        &:focus-within:after { // When any child within `.search-form` is focused
            width: 100%;
        }

        button {
            background-color: #fff;
            color: #b1b1b1;
            border: 0;
            padding: 0;
            height: 80px;
            transition: all 0.3s ease-in-out;
            font-size: 40px;

            @media(max-width: 991px) {
                font-size: 32px;
            }

            &:hover {
                color: $color__theme;
            }
        }
    }


}


.no-results.not-found {
    text-align: center;
}

.sea-wrapper {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

form.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;

    input[type=text] {
        margin-bottom: 0 !important;
        border: 1px solid rgba(104, 124, 151, 0.3607843137);
        border-radius: 3px;
    }

    button.search-submit {
        border: 0;
        background: $color__theme;
        color: #fff;
        padding: 7px 15px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: darken($color__theme, 10%);
        }
    }
}