.widget_search {

    .search-form {
        border-radius: 6px;
        position: relative;
        background-color: #eff1f5;
        display: flex;
		overflow: hidden;

        label {
            margin: 0;
            width: 100%;
        }

        input {
            padding: 11px 20px;
            border-radius: 0;
            border: 0;
            width: 100%;
            color: #696969;
            height: 54px;
            margin: 0;
            background: transparent;

            &::placeholder {
                color: #878793;
            }

            &:focus {
                border-color: $color__theme;
            }
        }

        .search-submit {
            background-color: $color__theme;
            border: 0;
            padding: 12px 18px 10px 20px;
            color: #fff;
            font-size: 22px;
            border-radius: 0;

            &:focus {
                outline: 0;
            }

            &:hover {
                background-color: $color__theme-2;
            }

        }
    }
}


#search-menu-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s ease, visibility .7s ease;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #fff;

    .close-search {
        height: 60px;
        width: 60px;
        line-height: 60px;
        border-radius: 50%;
        background-color: $color__theme;
        color: #fff;
        z-index: 9999999;
        opacity: 5;
        position: absolute;
        right: 15px;
        top: 40px;
        font-size: 26px;
        cursor: pointer;
        text-align: center;

        @media(max-width: 576px) {

            height: 50px;
            width: 50px;
            line-height: 50px;
        }
    }

    .overlay-bg {
        transition: -webkit-filter 0.2s;
        transition: filter 0.2s;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.toggled {
        opacity: 1;
        visibility: visible;
    }

    .wrapper {
        max-width: 850px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .search-form {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #b9b8b8;

        input {
            font-family: $font__heading;
            border-radius: 0;
            border: 0;
            background: transparent;
            height: 100px;
            padding: 0;
            color: #000;
            font-size: 60px;
            font-weight: 600;
            margin: 0;
            line-height: 2.5;

            @media(max-width: 991px) {
                height: 50px;
                font-size: 30px;
            }

            &::placeholder {
                color: #b1b1b1;
            }
        }

        button {
            background-color: #fff;
            color: #b1b1b1;
            border: 0;
            padding: 0;
            height: 80px;
            transition: all 0.3s ease-in-out;
            font-size: 40px;

            @media(max-width: 991px) {
                font-size: 32px;
            }

            &:hover {
                color: $color__theme;
            }
        }
    }
}

.sea-wrapper {
    .search-form {
        display: flex;
        align-items: center;

        label {
            margin: 0;
            width: 100%;
        }

        input {
            margin: 0;
        }

        .search-submit {
            background: $color__theme;
            color: #fff;
            border: 0;
            height: 54px;
            border-radius: 4px;
            margin-left: 20px;

            &:hover {
                background: #004ce5;
                color: #fff;
            }
        }
    }
}