.content-area {
	padding: 80px 0;
	min-height: 35vh;

	@media(max-width: 991px) {
		padding: 40px 0;
	}
}

//.blog-archive-wrapper {
//	padding: 80px 0;
//
//	@media(max-width: 991px) {
//		padding: 80px 0;
//	}
//}

.blog-content-area {
	background: #f9faff;
	padding: 80px 0;

	@media(max-width: 991px) {
		padding: 40px 0;
	}
}

.sidebar_left {
	flex-direction: row-reverse;
}


.page_404_wrapper {

	.banner_404_text {
		max-width: 500px;
		margin: 0 auto 40px;
	}

	.search_result_form {
		max-width: 400px;
		margin: 0 auto 30px;
	}
}