#header-middle-area {

  > div {
	padding-top: 25px;
	padding-bottom: 25px;
  }

  @include media-breakpoint-down(md) {
	> div {
	  padding: 10px 0;
	}

	#middle-logo {
	  margin-bottom: 15px;
	  text-align: center;
	}
  }
}