/**overrides**/

#tribe-events-pg-template, 
.tribe-events-pg-template {
    max-width: 1140px;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar--border {
    border-radius: 8px;
    overflow: hidden;
}

.tribe-common-c-btn.tribe-events-c-search__button {
    @include button(1rem);
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date, 
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
    color: $secondary-color;
}
.tribe-events .tribe-events-calendar-month__day-date-link,
.tribe-events .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-text {
    color: $primary-color;
}

.tribe-events .tribe-events-c-ical__link {
    @include button(1rem);
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day:hover:after {
    background-color: $secondary-color;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-link:after {
    background-color: $primary-color;
}

.tribe-events .tribe-events-c-messages__message {
    background:$secondary-color;
    color: $white; 
    a {
        text-decoration: none;
        color: $white;
        border-bottom: 0;
    }
}
.single-tribe_events {
    .tribe-events-event-meta {
        border: 0;
        background: $white;
        &.primary {
            margin: 80px 0 0;
        }
    }

}

.tribe-events-meta-group {
    flex: 100%;
    max-width: 100%;
    background: $white;
    border: 1px solid #eee;
    @include transition;
    &:hover {
        @include block-box-shadow;
    }
}

.tribe-events-meta-group-details {
    margin-bottom: 50px !important;
}

.tribe-events-event-meta {
    .tribe-events-meta-group {
        width: 100%;
        padding: 3rem;
        margin-bottom: 5rem;
        text-align: center;
    }
    dl {
        @include flex(column, space-between, center);
    }
    dt {
        color: $heading-color;
        @include typo(1.6rem, 1.5);
    }
    dd {
        @include typo(1.6rem, 1.5);
        margin: 0;
        &.tribe-organizer {
            text-align: center;
        }
    }
    abbr[title] {
        text-decoration: none;
    }
}

.tribe-events-meta-group {
    .tribe-events-single-section-title {
        @include typo(2.4rem, 1);
        text-align: center;
        color: $secondary-color;
    }
}
.tribe-events-content {
    text-align: justify;
}
.tribe-events-cal-links {
    a.tribe-events-button {
        color: $secondary-color;
        &:hover {
            color: $primary-color;
        }
    }
}

.tribe-events .tribe-events-calendar-list__month-separator {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.ec {
    .ec__inner-wrap {
        padding: 35px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        background: $white;
        @include block-box-shadow;
        .ec__date {
            color: $white;
            background: $primary-color;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 20px;
            border-radius: 0 0 0 10px;
            span {
                @include typo(1.4rem, 1);
            }
        }
        .ec__content-wrap {
            @include flex(row, flex-start);
            @media (max-width: 768px) {
                flex-direction: column;
            }
            .ec__img,
            .ec__content {
                flex-grow: 1;
                flex-basis: 0;
                @media (max-width: 768px) {
                    flex-basis: 290px;
                }
                @media (max-width: 480px) {
                    flex-basis: 215px;
                }
            }
            .ec__img {
                text-align: center;
                position: relative;
                overflow: hidden;
                @include shine-effect;
                @media (max-width: 768px) {
                    margin-bottom: 1.5rem;
                }
                @media (max-width: 1120px) {
                    margin-right: 3rem;
                }
                img {
                    max-width: 100%;
                    height: auto;
                    margin-right: 40px;
                    border-radius: 10px;
                    @media (max-width: 480px) {
                        margin-top: 1rem;
                    }
                    
                }
            }
            .ec__content {
                flex-grow: 1.2;
                @include flex(column, center);
                padding-right: 60px;
                @media (max-width: 768px) {
                    padding-right: 0;
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 0;
                    text-align: center;
                }
                h3 {
                    @include typo(1.8rem, 1);
                    color: $primary-color;
                    margin-bottom: 1.6rem;
                }
                h4 {
                    @include typo(3rem, 1.3, 600);
                    color: $heading-color;
                    margin-bottom: 1.6rem;
                }
                p {
                    margin-bottom: 0;
                    color: $text-color;
                    @include typo(1.6rem, 1.5);
                    margin-bottom: 1.6rem;
                }
                .btn-book-event {
                    @include gradient-button(1.6rem, 2.8rem, 1.6rem, 2.8rem);
                }
            }
        }
    }
}

.tribe-events .tribe-events-calendar-list__month-separator:after {
    display: none;
}

#tribe-events-content a {
    color: $secondary-color;
    &:hover {
        color: $primary-color;
    }
}
.tribe-events-event-meta:before {
    display: none;
}